In [328]:
# from cgitb import text
# from distutils.command.upload import upload 
import pandas as pd
import numpy as np
import os
# import sys
import tkinter as tk
from pathlib import Path
from  tkinter import*
import tkinter.messagebox
from tkinter import filedialog
# from PIL import ImageTk, Image

In [329]:
# mapadecaixa = pd.read_csv(os.getcwd() + "\\Movimentação geral (2).csv", encoding='ANSI', sep=',', header=0, thousands = '.', decimal = ',', dtype = {'Valor':np.float64})
mapadecaixa = pd.read_csv(os.getcwd() + "\\Movimentação geral com 3ag.csv", encoding='ANSI', sep=',', header=0, thousands = '.', decimal = ',', dtype = {'Valor':np.float64})
# pd.set_option('display.max_columns', None)
# mapadecaixa.head(38) # O número indica a quantidade de linha que a ser exibida.
mapadecaixa.head()

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor
0,Cartão de Crédito,NaN,968998785-1/1,NaN,20/01/2019,372.08
1,Cartão de Crédito,NaN,974994344-1/1,NaN,26/01/2019,985.30
2,Cartão de Crédito,NaN,974994337-1/1,NaN,26/01/2019,1200.96
3,Cartão de Crédito,NaN,974994323-1/1,NaN,26/01/2019,1208.07
4,Cartão de Crédito,NaN,972460256-1/1,NaN,26/01/2019,1240.85

In [330]:
# O (.str.replace) pra retirar os - e
# Dividindo a coluna '4o. Agrupamento' em '4o. Agrupamento' e 'DEBITO' onde se encontra o ponto e virgula ';'
mapadecaixa[['4o. Agrupamento','DEBITO']] = mapadecaixa['4o. Agrupamento'].str.split(';', expand=True)

# mapadecaixa.head(38)
mapadecaixa.head()

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO
0,Cartão de Crédito,NaN,968998785-1/1,NaN,20/01/2019,372.08,NaN
1,Cartão de Crédito,NaN,974994344-1/1,NaN,26/01/2019,985.30,NaN
2,Cartão de Crédito,NaN,974994337-1/1,NaN,26/01/2019,1200.96,NaN
3,Cartão de Crédito,NaN,974994323-1/1,NaN,26/01/2019,1208.07,NaN
4,Cartão de Crédito,NaN,972460256-1/1,NaN,26/01/2019,1240.85,NaN

In [331]:
for index, row in mapadecaixa.iterrows():
    if row['3o. Agrupamento'] == 'Duplicata':
        mapadecaixa.loc[index, 'DEBITO'] = '10265'
    if row['3o. Agrupamento'] == 'Crédito Bancário':
        mapadecaixa.loc[index, 'DEBITO'] = '10265'
    if row['3o. Agrupamento'] == 'Cheque à vista':
        mapadecaixa.loc[index, 'DEBITO'] = '10267'

In [ ]:
# mapadecaixa.head(38)

# Exibe valores que contenha 'RC'
# mapadecaixa[mapadecaixa['Descrição'].str.contains('RC')]

# Exibe apenas valores que começa com 'RC'
# mapadecaixa[mapadecaixa['3o. Agrupamento'].str.startswith('Duplicata')]
mapadecaixa[mapadecaixa['3o. Agrupamento'].str.startswith('Cheque à vista')]

In [332]:
for index, row in mapadecaixa.iterrows():
    if row['4o. Agrupamento'] == 'Carteira Cobrança Simples':
        mapadecaixa.loc[index, 'DEBITO'] = '45534'
    if row['4o. Agrupamento'] == 'Cart Credito Garantia':
        mapadecaixa.loc[index, 'DEBITO'] = '344640'

In [ ]:
mapadecaixa.head(38)

In [333]:
mapadecaixa['CREDITO'] = '10164' 
mapadecaixa

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO,CREDITO
0,Cartão de Crédito,NaN,968998785-1/1,NaN,20/01/2019,372.08,NaN,10164
1,Cartão de Crédito,NaN,974994344-1/1,NaN,26/01/2019,985.30,NaN,10164
2,Cartão de Crédito,NaN,974994337-1/1,NaN,26/01/2019,1200.96,NaN,10164
3,Cartão de Crédito,NaN,974994323-1/1,NaN,26/01/2019,1208.07,NaN,10164
4,Cartão de Crédito,NaN,972460256-1/1,NaN,26/01/2019,1240.85,NaN,10164
...,...,...,...,...,...,...,...,...
3972,Dinheiro,Carteira Cobrança Simples,RC 893 / RC 893,Consumidor Final,31/01/2019,10.00,45534,10164
3973,Dinheiro,Carteira Cobrança Simples,RC 957 / RC 957,Consumidor Final,31/01/2019,20.00,45534,10164
3974,Dinheiro,Carteira Cobrança Simples,RC 959 / RC 959,Consumidor Final,31/01/2019,10.00,45534,10164
3975,Dinheiro,Carteira Cobrança Simples,RC 961 / RC 961,Consumidor Final,31/01/2019,40.00,45534,10164
3976,Dinheiro,Carteira Cobrança Simples,RC 963 / RC 963,Consumidor Final,31/01/2019,10.00,45534,10164

In [ ]:
#---Verificando o tipo da coluna
mapadecaixa.dtypes

In [ ]:
#---Alterando o tipo de dados da coluna
mapadecaixa['Descrição'] = mapadecaixa['Descrição'].astype('string')

In [ ]:
#---Verificando o tipo da coluna
mapadecaixa.dtypes

In [334]:
# mapadecaixa['CREDITO'] = ''
for index, row in mapadecaixa.iterrows():
    # if row['Descrição'] == 'RC':
    # if mapadecaixa.loc[mapadecaixa['Descrição'].str.contains('RC', case=False, na=False)]:
    # if mapadecaixa[mapadecaixa['Descrição'].str.contains('RC')].any():
    # if mapadecaixa.index['Descrição'].str.contains('RC'):
    # if "RC " in mapadecaixa["Descrição"].values:
    # if mapadecaixa['Descrição'].str.contains('RC').all():
    # if row['Descrição'].contains('RC'):
    if row['Descrição'].startswith('RC'):
    # if row['Descrição'].str.match('RC'):
    # if row[mapadecaixa[mapadecaixa['Descrição'].str.startswith('RC')]]:
        mapadecaixa.loc[index, 'CREDITO'] = '31472'

mapadecaixa

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO,CREDITO
0,Cartão de Crédito,NaN,968998785-1/1,NaN,20/01/2019,372.08,NaN,10164
1,Cartão de Crédito,NaN,974994344-1/1,NaN,26/01/2019,985.30,NaN,10164
2,Cartão de Crédito,NaN,974994337-1/1,NaN,26/01/2019,1200.96,NaN,10164
3,Cartão de Crédito,NaN,974994323-1/1,NaN,26/01/2019,1208.07,NaN,10164
4,Cartão de Crédito,NaN,972460256-1/1,NaN,26/01/2019,1240.85,NaN,10164
...,...,...,...,...,...,...,...,...
3972,Dinheiro,Carteira Cobrança Simples,RC 893 / RC 893,Consumidor Final,31/01/2019,10.00,45534,31472
3973,Dinheiro,Carteira Cobrança Simples,RC 957 / RC 957,Consumidor Final,31/01/2019,20.00,45534,31472
3974,Dinheiro,Carteira Cobrança Simples,RC 959 / RC 959,Consumidor Final,31/01/2019,10.00,45534,31472
3975,Dinheiro,Carteira Cobrança Simples,RC 961 / RC 961,Consumidor Final,31/01/2019,40.00,45534,31472
3976,Dinheiro,Carteira Cobrança Simples,RC 963 / RC 963,Consumidor Final,31/01/2019,10.00,45534,31472

In [ ]:
mapadecaixa

In [335]:
# Exibe valores que contenha 'RC'
mapadecaixa[mapadecaixa['Descrição'].str.contains('RC')]

# Exibe apenas valores que começa com 'RC'
# mapadecaixa[mapadecaixa['Descrição'].str.startswith('RC')]

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO,CREDITO
35,Cartão de Crédito,Cart Hipercard Rede,CNF 963966098 / RC 947634408 / NFC-e 000013867,Walter Ferreira de Albuquerque,05/01/2019,33.00,10221,10164
36,Cartão de Crédito,Cart American Express,CNF 948476646 / RC 948735395 / NFC-e 000014037,Juliana Rocha,07/01/2019,83.33,10225,10164
37,Cartão de Crédito,Cart American Express,CNF 949261555 / RC 964288446 / NFC-e 000017828...,Jefferson Irineu da Silva,08/01/2019,3428.88,10225,10164
40,Cartão de Crédito,Cart American Express,CNF 965872140 / NFC-e 000014691 / RC 967595465,Juliana Rocha,14/01/2019,340.86,10225,10164
41,Cartão de Crédito,Cart American Express,CNF 965872185 / RC 967596770 / NFC-e 000014692,Juliana Rocha,14/01/2019,1281.30,10225,10164
...,...,...,...,...,...,...,...,...
3972,Dinheiro,Carteira Cobrança Simples,RC 893 / RC 893,Consumidor Final,31/01/2019,10.00,45534,31472
3973,Dinheiro,Carteira Cobrança Simples,RC 957 / RC 957,Consumidor Final,31/01/2019,20.00,45534,31472
3974,Dinheiro,Carteira Cobrança Simples,RC 959 / RC 959,Consumidor Final,31/01/2019,10.00,45534,31472
3975,Dinheiro,Carteira Cobrança Simples,RC 961 / RC 961,Consumidor Final,31/01/2019,40.00,45534,31472
3976,Dinheiro,Carteira Cobrança Simples,RC 963 / RC 963,Consumidor Final,31/01/2019,10.00,45534,31472

In [ ]:
mapadecaixa

In [ ]:
# Criando nova coluna
mapadecaixa['NEWCOLUN'] = ''
# onde na coluna '3o. Agrupamento' for = 'Duplicata' faça '4o. Agrupamento' + 'Cliente'
# onde na coluna '3o. Agrupamento' for = 'Duplicata' faça '4o. Agrupamento' + 'Cliente'
# onde na coluna '3o. Agrupamento' for = 'Cheque à vista' faça '4o. Agrupamento' + 'Cliente'
# Fazendo a iteração:
for index, row in mapadecaixa.iterrows():
    if row['3o. Agrupamento'] == 'Duplicata':
        mapadecaixa.loc[index,'NEWCOLUN'] =  str(mapadecaixa.loc[index,'4o. Agrupamento']) + ' - ' + str(mapadecaixa.loc[index,'Cliente'])
    if row['3o. Agrupamento'] == 'Crédito Bancário':
        mapadecaixa.loc[index,'NEWCOLUN'] =  str(mapadecaixa.loc[index,'4o. Agrupamento']) + ' - ' + str(mapadecaixa.loc[index,'Cliente'])
    if row['3o. Agrupamento'] == 'Cheque à vista':
        mapadecaixa.loc[index,'NEWCOLUN'] =  str(mapadecaixa.loc[index,'4o. Agrupamento']) + ' - ' + str(mapadecaixa.loc[index,'Cliente'])

In [ ]:
# mapadecaixa.head(38)
mapadecaixa.head(38)

In [ ]:
#----Ordena todas as linhas do DataFrame do maior para o menor
# O ignore_index=True permanece com o indece sempre em ordem independente se o ASCENDING seja FALSE ou TRUE.
# O na_position='first' ordena as linhas vázias/NULAS nas primeiras posições.
# O inplace=True grava a mudança no DataFrame
mapadecaixa.sort_values(['4o. Agrupamento', 'Descrição', 'Cliente', 'Emissão', 'Valor'], ascending=False, ignore_index=True, na_position='first')

In [ ]:
mapadecaixa.head()

In [ ]:
mapadecaixa.dtypes

In [ ]:
#---Alterando o tipo de dados da coluna
mapadecaixa['4o. Agrupamento'] = mapadecaixa['4o. Agrupamento'].astype('string')

In [ ]:
mapadecaixa.dtypes

In [ ]:
# O (.str.replace) pra retirar os - e 
# mapadecaixa[['4o. Agrupamento','DEBITO']] = mapadecaixa['4o. Agrupamento'].str.split(';', expand=True)

# mapadecaixa.head(38)

In [ ]:
# mapadecaixa
mapadecaixa.head(40)

In [ ]:
mapadecaixa['FILIAL'] = ''

In [ ]:
# mapadecaixa['CREDITO'] = '10164'

In [ ]:
# mapadecaixa['HISTORICO'] = '10.01'+ "," + mapadecaixa['4o. Agrupamento']+ "," + mapadecaixa['Cliente']+ "," + mapadecaixa['Descrição']
mapadecaixa['HISTORICO'] = '10.01'+ "," + mapadecaixa['NEWCOLUN']+ "," + mapadecaixa['Descrição']

In [ ]:
mapadecaixa

In [ ]:
# SUBSTITUIR pontos (.) por vírgulas (,) 
# mapadecaixa['HISTORICO'] = mapadecaixa['HISTORICO'].apply(lambda x: float(x.replace(".","").replace(",",".")))
# mapadecaixa = mapadecaixa.replace({',': ''}, regex=True)
mapadecaixa['HISTORICO'] = mapadecaixa['HISTORICO'].astype(str)
mapadecaixa['HISTORICO'] = mapadecaixa['HISTORICO'].str.replace(',,', ',')

In [ ]:
mapadecaixa

In [ ]:
mapadecaixa['HISTORICO'] = mapadecaixa['HISTORICO'].str.upper()

In [ ]:
# mapadecaixa
# mapadecaixa.head(40)
mapadecaixa.head()

In [ ]:
# Excluíndo coluna
# mapadecaixa = mapadecaixa.drop('3o. Agrupamento', axis=1)
# mapadecaixa = mapadecaixa.drop('4o. Agrupamento', axis=1)
# mapadecaixa = mapadecaixa.drop('Descrição', axis=1)
# mapadecaixa = mapadecaixa.drop('Cliente', axis=1)
# mapadecaixa = mapadecaixa.drop(['3o. Agrupamento','4o. Agrupamento','Descrição','Cliente', 'NEWCOLUN'], axis=1, inplace=True)
mapadecaixa = mapadecaixa.drop(['3o. Agrupamento','4o. Agrupamento','Descrição','Cliente', 'NEWCOLUN'], axis=1)

In [ ]:
mapadecaixa

In [ ]:
# RENOMEAR COLUNAS
# colunas = {'4o. Agrupamento':'4AGRUPAMENTO','Descrição':'DESCRIÇÃO','Cliente':'CLIENTE','Emissão':'DATA','Valor':'VALOR'}
colunas = {'Emissão':'DATA','Valor':'VALOR'}
mapadecaixa.rename(columns = colunas, inplace=True)

In [ ]:
mapadecaixa

In [ ]:
# REORDENANDO COLUNAS
new_ordem_colls = ['FILIAL', 'DATA', 'DEBITO', 'CREDITO', 'VALOR', 'HISTORICO']
mapadecaixa = mapadecaixa[new_ordem_colls]

In [ ]:
mapadecaixa
# mapadecaixa.head(40)

In [ ]:
#----Ordena todas as linhas do DataFrame do maior para o menor
# O ignore_index=True permanece com o indece sempre em ordem independente se o ASCENDING seja FALSE ou TRUE.
# O na_position='first' ordena as linhas vázias/NULAS nas primeiras posições.
# O inplace=True grava a mudança no DataFrame
## mapadecaixa.sort_values(['4o. Agrupamento', 'Descrição', 'Cliente', 'Emissão', 'Valor'], ascending=False, ignore_index=True, na_position='first', inplace=True)
mapadecaixa.sort_values(['4o. Agrupamento', 'Descrição', 'Cliente', 'Emissão', 'Valor'], ascending=False, ignore_index=True, na_position='first')

In [ ]:
filial = input("Digite a Filial: ")
mapadecaixa['FILIAL'] = filial

In [ ]:
mapadecaixa

In [ ]:
# Usando o to_csv para exportar o arquivo
mapadecaixa.to_csv('MapaCaixa.csv', encoding='latin-1', index=False)

In [ ]:
# Lendo o file csv
mapadecaixa = pd.read_csv(os.getcwd() + "\\MapaCaixa.csv", encoding='ANSI', sep=',', header=0)
mapadecaixa.head()