In [304]:
# from cgitb import text
# from distutils.command.upload import upload 
import pandas as pd
import numpy as np
import os
# import sys
import tkinter as tk
from pathlib import Path
from  tkinter import*
import tkinter.messagebox
from tkinter import filedialog
# from PIL import ImageTk, Image

In [305]:
# mapadecaixa = pd.read_csv(os.getcwd() + "\\Movimentação geral (2).csv", encoding='ANSI', sep=',', header=0, thousands = '.', decimal = ',', dtype = {'Valor':np.float64})
mapadecaixa = pd.read_csv(os.getcwd() + "\\Movimentação geral com 3ag.csv", encoding='ANSI', sep=',', header=0, thousands = '.', decimal = ',', dtype = {'Valor':np.float64})
# pd.set_option('display.max_columns', None)
mapadecaixa.head(38) # O número indica a quantidade de linha que a ser exibida.
# mapadecaixa.head()

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor
0,Cartão de Crédito,NaN,968998785-1/1,NaN,20/01/2019,372.08
1,Cartão de Crédito,NaN,974994344-1/1,NaN,26/01/2019,985.30
2,Cartão de Crédito,NaN,974994337-1/1,NaN,26/01/2019,1200.96
3,Cartão de Crédito,NaN,974994323-1/1,NaN,26/01/2019,1208.07
4,Cartão de Crédito,NaN,972460256-1/1,NaN,26/01/2019,1240.85
5,Cartão de Crédito,NaN,974994330-1/1,NaN,26/01/2019,1208.07
6,Cartão de Crédito,NaN,972460461-1/1,NaN,26/01/2019,899.00
7,Cartão de Crédito,NaN,972460829-1/1,NaN,26/01/2019,1323.10
8,Cartão de Crédito,NaN,972460706-1/1,NaN,26/01/2019,1787.30
9,Cartão de Crédito,NaN,972461111-1/1,NaN,26/01/2019,1175.04
10,Cartão de Crédito,NaN,972461104-1/1,NaN,26/01/2019,1323.10
11,Cartão de Crédito,NaN,"972461752-08/10, 972461752-06/10, 972461752-09...",NaN,27/01/2019,944.70
12,Cartão de Crédito,NaN,975773568-1/1,NaN,27/01/2019,1059.01
13,Cartão de Crédito,NaN,975824065-1/1,NaN,27/01/2019,159.00
14,Cartão de Crédito,NaN,975824486-1/1,NaN,27/01/2019,1224.40
15,Cartão de Crédito,NaN,975824998-1/1,NaN,27/01/2019,1191.50
16,Cartão de Crédito,NaN,975825021-1/1,NaN,27/01/2019,379.00
17,Cartão de Crédito,NaN,975825043-1/1,NaN,27/01/2019,1165.00
18,Cartão de Crédito,NaN,975825085-1/1,NaN,27/01/2019,565.00
19,Cartão de Crédito,NaN,975825107-1/1,NaN,27/01/2019,600.00
20,Cartão de Crédito,NaN,975825129-1/1,NaN,27/01/2019,1089.01
21,Cartão de Crédito,NaN,976950512-1/1,NaN,29/01/2019,117.00
22,Cartão de Crédito,NaN,977200338-1/1,NaN,30/01/2019,33.00
23,Cartão de Débito,NaN,947916964-1/1,NaN,07/01/2019,239.01
24,Cartão de Débito,NaN,975823761-1/1,NaN,27/01/2019,600.00
25,Cartão de Débito,NaN,975823783-1/1,NaN,27/01/2019,575.04
26,Cartão de Débito,NaN,976950056-1/1,NaN,29/01/2019,239.01
27,Dinheiro,Carteira Cobrança Simples,960980966-1/1,NaN,04/01/2019,94.77
28,Dinheiro,Carteira Cobrança Simples,968998701-1/1,NaN,20/01/2019,900.00
29,Dinheiro,Carteira Cobrança Simples,974994351-1/1,NaN,26/01/2019,300.00
30,Dinheiro,Carteira Cobrança Simples,975823561-1/1,NaN,27/01/2019,379.00
31,Dinheiro,Carteira Cobrança Simples,975823615-1/1,NaN,27/01/2019,289.01
32,Dinheiro,Carteira Cobrança Simples,975823741-1/1,NaN,27/01/2019,995.00
33,Dinheiro,Carteira Cobrança Simples,975825065-1/1,NaN,27/01/2019,379.01
34,Dinheiro,Carteira Cobrança Simples,977200345-1/1,NaN,30/01/2019,11.00
35,Cartão de Crédito,Cart Hipercard Rede;10221,CNF 963966098 / RC 947634408 / NFC-e 000013867,Walter Ferreira de Albuquerque,05/01/2019,33.00
36,Cartão de Crédito,Cart American Express;10225,CNF 948476646 / RC 948735395 / NFC-e 000014037,Juliana Rocha,07/01/2019,83.33
37,Cartão de Crédito,Cart American Express;10225,CNF 949261555 / RC 964288446 / NFC-e 000017828...,Jefferson Irineu da Silva,08/01/2019,3428.88

In [306]:
# O (.str.replace) pra retirar os - e
mapadecaixa[['4o. Agrupamento','DEBITO']] = mapadecaixa['4o. Agrupamento'].str.split(';', expand=True)

mapadecaixa.head(38)

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO
0,Cartão de Crédito,NaN,968998785-1/1,NaN,20/01/2019,372.08,NaN
1,Cartão de Crédito,NaN,974994344-1/1,NaN,26/01/2019,985.30,NaN
2,Cartão de Crédito,NaN,974994337-1/1,NaN,26/01/2019,1200.96,NaN
3,Cartão de Crédito,NaN,974994323-1/1,NaN,26/01/2019,1208.07,NaN
4,Cartão de Crédito,NaN,972460256-1/1,NaN,26/01/2019,1240.85,NaN
5,Cartão de Crédito,NaN,974994330-1/1,NaN,26/01/2019,1208.07,NaN
6,Cartão de Crédito,NaN,972460461-1/1,NaN,26/01/2019,899.00,NaN
7,Cartão de Crédito,NaN,972460829-1/1,NaN,26/01/2019,1323.10,NaN
8,Cartão de Crédito,NaN,972460706-1/1,NaN,26/01/2019,1787.30,NaN
9,Cartão de Crédito,NaN,972461111-1/1,NaN,26/01/2019,1175.04,NaN
10,Cartão de Crédito,NaN,972461104-1/1,NaN,26/01/2019,1323.10,NaN
11,Cartão de Crédito,NaN,"972461752-08/10, 972461752-06/10, 972461752-09...",NaN,27/01/2019,944.70,NaN
12,Cartão de Crédito,NaN,975773568-1/1,NaN,27/01/2019,1059.01,NaN
13,Cartão de Crédito,NaN,975824065-1/1,NaN,27/01/2019,159.00,NaN
14,Cartão de Crédito,NaN,975824486-1/1,NaN,27/01/2019,1224.40,NaN
15,Cartão de Crédito,NaN,975824998-1/1,NaN,27/01/2019,1191.50,NaN
16,Cartão de Crédito,NaN,975825021-1/1,NaN,27/01/2019,379.00,NaN
17,Cartão de Crédito,NaN,975825043-1/1,NaN,27/01/2019,1165.00,NaN
18,Cartão de Crédito,NaN,975825085-1/1,NaN,27/01/2019,565.00,NaN
19,Cartão de Crédito,NaN,975825107-1/1,NaN,27/01/2019,600.00,NaN
20,Cartão de Crédito,NaN,975825129-1/1,NaN,27/01/2019,1089.01,NaN
21,Cartão de Crédito,NaN,976950512-1/1,NaN,29/01/2019,117.00,NaN
22,Cartão de Crédito,NaN,977200338-1/1,NaN,30/01/2019,33.00,NaN
23,Cartão de Débito,NaN,947916964-1/1,NaN,07/01/2019,239.01,NaN
24,Cartão de Débito,NaN,975823761-1/1,NaN,27/01/2019,600.00,NaN
25,Cartão de Débito,NaN,975823783-1/1,NaN,27/01/2019,575.04,NaN
26,Cartão de Débito,NaN,976950056-1/1,NaN,29/01/2019,239.01,NaN
27,Dinheiro,Carteira Cobrança Simples,960980966-1/1,NaN,04/01/2019,94.77,None
28,Dinheiro,Carteira Cobrança Simples,968998701-1/1,NaN,20/01/2019,900.00,None
29,Dinheiro,Carteira Cobrança Simples,974994351-1/1,NaN,26/01/2019,300.00,None
30,Dinheiro,Carteira Cobrança Simples,975823561-1/1,NaN,27/01/2019,379.00,None
31,Dinheiro,Carteira Cobrança Simples,975823615-1/1,NaN,27/01/2019,289.01,None
32,Dinheiro,Carteira Cobrança Simples,975823741-1/1,NaN,27/01/2019,995.00,None
33,Dinheiro,Carteira Cobrança Simples,975825065-1/1,NaN,27/01/2019,379.01,None
34,Dinheiro,Carteira Cobrança Simples,977200345-1/1,NaN,30/01/2019,11.00,None
35,Cartão de Crédito,Cart Hipercard Rede,CNF 963966098 / RC 947634408 / NFC-e 000013867,Walter Ferreira de Albuquerque,05/01/2019,33.00,10221
36,Cartão de Crédito,Cart American Express,CNF 948476646 / RC 948735395 / NFC-e 000014037,Juliana Rocha,07/01/2019,83.33,10225
37,Cartão de Crédito,Cart American Express,CNF 949261555 / RC 964288446 / NFC-e 000017828...,Jefferson Irineu da Silva,08/01/2019,3428.88,10225

In [307]:
# Criando nova coluna
mapadecaixa['NEWCOLUN'] = ''
# Fazendo a iteração:
for index, row in mapadecaixa.iterrows():
    if row['3o. Agrupamento'] == 'Duplicata':
        mapadecaixa.loc[index,'NEWCOLUN'] =  str(mapadecaixa.loc[index,'4o. Agrupamento']) + ' - ' + str(mapadecaixa.loc[index,'Cliente'])
    if row['3o. Agrupamento'] == 'Crédito Bancário':
        mapadecaixa.loc[index,'NEWCOLUN'] =  str(mapadecaixa.loc[index,'4o. Agrupamento']) + ' - ' + str(mapadecaixa.loc[index,'Cliente'])
    if row['3o. Agrupamento'] == 'Cheque à vista':
        mapadecaixa.loc[index,'NEWCOLUN'] =  str(mapadecaixa.loc[index,'4o. Agrupamento']) + ' - ' + str(mapadecaixa.loc[index,'Cliente'])

In [ ]:
# mapadecaixa.head(38)
mapadecaixa.head(38)

In [ ]:
#----Ordena todas as linhas do DataFrame do maior para o menor
# O ignore_index=True permanece com o indece sempre em ordem independente se o ASCENDING seja FALSE ou TRUE.
# O na_position='first' ordena as linhas vázias/NULAS nas primeiras posições.
# O inplace=True grava a mudança no DataFrame
mapadecaixa.sort_values(['4o. Agrupamento', 'Descrição', 'Cliente', 'Emissão', 'Valor'], ascending=False, ignore_index=True, na_position='first')

In [ ]:
mapadecaixa.head()

In [ ]:
mapadecaixa.dtypes

In [ ]:
#---Alterando o tipo de dados da coluna
mapadecaixa['4o. Agrupamento'] = mapadecaixa['4o. Agrupamento'].astype('string')

In [ ]:
mapadecaixa.dtypes

In [ ]:
# O (.str.replace) pra retirar os - e 
# mapadecaixa[['4o. Agrupamento','DEBITO']] = mapadecaixa['4o. Agrupamento'].str.split(';', expand=True)

# mapadecaixa.head(38)

In [ ]:
# mapadecaixa
mapadecaixa.head(40)

In [308]:
mapadecaixa['FILIAL'] = ''

In [309]:
mapadecaixa['CREDITO'] = '10164'

In [310]:
# mapadecaixa['HISTORICO'] = '10.01'+ "," + mapadecaixa['4o. Agrupamento']+ "," + mapadecaixa['Cliente']+ "," + mapadecaixa['Descrição']
mapadecaixa['HISTORICO'] = '10.01'+ "," + mapadecaixa['NEWCOLUN']+ "," + mapadecaixa['Descrição']

In [311]:
mapadecaixa

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO,NEWCOLUN,FILIAL,CREDITO,HISTORICO
0,Cartão de Crédito,NaN,968998785-1/1,NaN,20/01/2019,372.08,NaN,,,10164,"10.01,,968998785-1/1"
1,Cartão de Crédito,NaN,974994344-1/1,NaN,26/01/2019,985.30,NaN,,,10164,"10.01,,974994344-1/1"
2,Cartão de Crédito,NaN,974994337-1/1,NaN,26/01/2019,1200.96,NaN,,,10164,"10.01,,974994337-1/1"
3,Cartão de Crédito,NaN,974994323-1/1,NaN,26/01/2019,1208.07,NaN,,,10164,"10.01,,974994323-1/1"
4,Cartão de Crédito,NaN,972460256-1/1,NaN,26/01/2019,1240.85,NaN,,,10164,"10.01,,972460256-1/1"
...,...,...,...,...,...,...,...,...,...,...,...
3972,Dinheiro,Carteira Cobrança Simples,RC 893 / RC 893,Consumidor Final,31/01/2019,10.00,None,,,10164,"10.01,,RC 893 / RC 893"
3973,Dinheiro,Carteira Cobrança Simples,RC 957 / RC 957,Consumidor Final,31/01/2019,20.00,None,,,10164,"10.01,,RC 957 / RC 957"
3974,Dinheiro,Carteira Cobrança Simples,RC 959 / RC 959,Consumidor Final,31/01/2019,10.00,None,,,10164,"10.01,,RC 959 / RC 959"
3975,Dinheiro,Carteira Cobrança Simples,RC 961 / RC 961,Consumidor Final,31/01/2019,40.00,None,,,10164,"10.01,,RC 961 / RC 961"
3976,Dinheiro,Carteira Cobrança Simples,RC 963 / RC 963,Consumidor Final,31/01/2019,10.00,None,,,10164,"10.01,,RC 963 / RC 963"

In [312]:
# SUBSTITUIR pontos (.) por vírgulas (,) 
# mapadecaixa['HISTORICO'] = mapadecaixa['HISTORICO'].apply(lambda x: float(x.replace(".","").replace(",",".")))
# mapadecaixa = mapadecaixa.replace({',': ''}, regex=True)
mapadecaixa['HISTORICO'] = mapadecaixa['HISTORICO'].astype(str)
mapadecaixa['HISTORICO'] = mapadecaixa['HISTORICO'].str.replace(',,', ',')

In [313]:
mapadecaixa

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO,NEWCOLUN,FILIAL,CREDITO,HISTORICO
0,Cartão de Crédito,NaN,968998785-1/1,NaN,20/01/2019,372.08,NaN,,,10164,"10.01,968998785-1/1"
1,Cartão de Crédito,NaN,974994344-1/1,NaN,26/01/2019,985.30,NaN,,,10164,"10.01,974994344-1/1"
2,Cartão de Crédito,NaN,974994337-1/1,NaN,26/01/2019,1200.96,NaN,,,10164,"10.01,974994337-1/1"
3,Cartão de Crédito,NaN,974994323-1/1,NaN,26/01/2019,1208.07,NaN,,,10164,"10.01,974994323-1/1"
4,Cartão de Crédito,NaN,972460256-1/1,NaN,26/01/2019,1240.85,NaN,,,10164,"10.01,972460256-1/1"
...,...,...,...,...,...,...,...,...,...,...,...
3972,Dinheiro,Carteira Cobrança Simples,RC 893 / RC 893,Consumidor Final,31/01/2019,10.00,None,,,10164,"10.01,RC 893 / RC 893"
3973,Dinheiro,Carteira Cobrança Simples,RC 957 / RC 957,Consumidor Final,31/01/2019,20.00,None,,,10164,"10.01,RC 957 / RC 957"
3974,Dinheiro,Carteira Cobrança Simples,RC 959 / RC 959,Consumidor Final,31/01/2019,10.00,None,,,10164,"10.01,RC 959 / RC 959"
3975,Dinheiro,Carteira Cobrança Simples,RC 961 / RC 961,Consumidor Final,31/01/2019,40.00,None,,,10164,"10.01,RC 961 / RC 961"
3976,Dinheiro,Carteira Cobrança Simples,RC 963 / RC 963,Consumidor Final,31/01/2019,10.00,None,,,10164,"10.01,RC 963 / RC 963"

In [314]:
mapadecaixa['HISTORICO'] = mapadecaixa['HISTORICO'].str.upper()

In [315]:
# mapadecaixa
# mapadecaixa.head(40)
mapadecaixa.head()

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO,NEWCOLUN,FILIAL,CREDITO,HISTORICO
0,Cartão de Crédito,NaN,968998785-1/1,NaN,20/01/2019,372.08,NaN,,,10164,"10.01,968998785-1/1"
1,Cartão de Crédito,NaN,974994344-1/1,NaN,26/01/2019,985.30,NaN,,,10164,"10.01,974994344-1/1"
2,Cartão de Crédito,NaN,974994337-1/1,NaN,26/01/2019,1200.96,NaN,,,10164,"10.01,974994337-1/1"
3,Cartão de Crédito,NaN,974994323-1/1,NaN,26/01/2019,1208.07,NaN,,,10164,"10.01,974994323-1/1"
4,Cartão de Crédito,NaN,972460256-1/1,NaN,26/01/2019,1240.85,NaN,,,10164,"10.01,972460256-1/1"

In [316]:
# Excluíndo coluna
# mapadecaixa = mapadecaixa.drop('3o. Agrupamento', axis=1)
# mapadecaixa = mapadecaixa.drop('4o. Agrupamento', axis=1)
# mapadecaixa = mapadecaixa.drop('Descrição', axis=1)
# mapadecaixa = mapadecaixa.drop('Cliente', axis=1)
# mapadecaixa = mapadecaixa.drop(['3o. Agrupamento','4o. Agrupamento','Descrição','Cliente', 'NEWCOLUN'], axis=1, inplace=True)
mapadecaixa = mapadecaixa.drop(['3o. Agrupamento','4o. Agrupamento','Descrição','Cliente', 'NEWCOLUN'], axis=1)

In [317]:
mapadecaixa

         Emissão    Valor DEBITO FILIAL CREDITO              HISTORICO
0     20/01/2019   372.08    NaN          10164    10.01,968998785-1/1
1     26/01/2019   985.30    NaN          10164    10.01,974994344-1/1
2     26/01/2019  1200.96    NaN          10164    10.01,974994337-1/1
3     26/01/2019  1208.07    NaN          10164    10.01,974994323-1/1
4     26/01/2019  1240.85    NaN          10164    10.01,972460256-1/1
...          ...      ...    ...    ...     ...                    ...
3972  31/01/2019    10.00   None          10164  10.01,RC 893 / RC 893
3973  31/01/2019    20.00   None          10164  10.01,RC 957 / RC 957
3974  31/01/2019    10.00   None          10164  10.01,RC 959 / RC 959
3975  31/01/2019    40.00   None          10164  10.01,RC 961 / RC 961
3976  31/01/2019    10.00   None          10164  10.01,RC 963 / RC 963

[3977 rows x 6 columns]

In [318]:
# RENOMEAR COLUNAS
# colunas = {'4o. Agrupamento':'4AGRUPAMENTO','Descrição':'DESCRIÇÃO','Cliente':'CLIENTE','Emissão':'DATA','Valor':'VALOR'}
colunas = {'Emissão':'DATA','Valor':'VALOR'}
mapadecaixa.rename(columns = colunas, inplace=True)

In [319]:
mapadecaixa

            DATA    VALOR DEBITO FILIAL CREDITO              HISTORICO
0     20/01/2019   372.08    NaN          10164    10.01,968998785-1/1
1     26/01/2019   985.30    NaN          10164    10.01,974994344-1/1
2     26/01/2019  1200.96    NaN          10164    10.01,974994337-1/1
3     26/01/2019  1208.07    NaN          10164    10.01,974994323-1/1
4     26/01/2019  1240.85    NaN          10164    10.01,972460256-1/1
...          ...      ...    ...    ...     ...                    ...
3972  31/01/2019    10.00   None          10164  10.01,RC 893 / RC 893
3973  31/01/2019    20.00   None          10164  10.01,RC 957 / RC 957
3974  31/01/2019    10.00   None          10164  10.01,RC 959 / RC 959
3975  31/01/2019    40.00   None          10164  10.01,RC 961 / RC 961
3976  31/01/2019    10.00   None          10164  10.01,RC 963 / RC 963

[3977 rows x 6 columns]

In [320]:
# REORDENANDO COLUNAS
new_ordem_colls = ['FILIAL', 'DATA', 'DEBITO', 'CREDITO', 'VALOR', 'HISTORICO']
mapadecaixa = mapadecaixa[new_ordem_colls]

In [321]:
mapadecaixa
# mapadecaixa.head(40)

     FILIAL        DATA DEBITO CREDITO    VALOR              HISTORICO
0            20/01/2019    NaN   10164   372.08    10.01,968998785-1/1
1            26/01/2019    NaN   10164   985.30    10.01,974994344-1/1
2            26/01/2019    NaN   10164  1200.96    10.01,974994337-1/1
3            26/01/2019    NaN   10164  1208.07    10.01,974994323-1/1
4            26/01/2019    NaN   10164  1240.85    10.01,972460256-1/1
...     ...         ...    ...     ...      ...                    ...
3972         31/01/2019   None   10164    10.00  10.01,RC 893 / RC 893
3973         31/01/2019   None   10164    20.00  10.01,RC 957 / RC 957
3974         31/01/2019   None   10164    10.00  10.01,RC 959 / RC 959
3975         31/01/2019   None   10164    40.00  10.01,RC 961 / RC 961
3976         31/01/2019   None   10164    10.00  10.01,RC 963 / RC 963

[3977 rows x 6 columns]

In [ ]:
#----Ordena todas as linhas do DataFrame do maior para o menor
# O ignore_index=True permanece com o indece sempre em ordem independente se o ASCENDING seja FALSE ou TRUE.
# O na_position='first' ordena as linhas vázias/NULAS nas primeiras posições.
# O inplace=True grava a mudança no DataFrame
## mapadecaixa.sort_values(['4o. Agrupamento', 'Descrição', 'Cliente', 'Emissão', 'Valor'], ascending=False, ignore_index=True, na_position='first', inplace=True)
mapadecaixa.sort_values(['4o. Agrupamento', 'Descrição', 'Cliente', 'Emissão', 'Valor'], ascending=False, ignore_index=True, na_position='first')

In [322]:
filial = input("Digite a Filial: ")
mapadecaixa['FILIAL'] = filial

In [323]:
mapadecaixa

     FILIAL        DATA DEBITO CREDITO    VALOR              HISTORICO
0        19  20/01/2019    NaN   10164   372.08    10.01,968998785-1/1
1        19  26/01/2019    NaN   10164   985.30    10.01,974994344-1/1
2        19  26/01/2019    NaN   10164  1200.96    10.01,974994337-1/1
3        19  26/01/2019    NaN   10164  1208.07    10.01,974994323-1/1
4        19  26/01/2019    NaN   10164  1240.85    10.01,972460256-1/1
...     ...         ...    ...     ...      ...                    ...
3972     19  31/01/2019   None   10164    10.00  10.01,RC 893 / RC 893
3973     19  31/01/2019   None   10164    20.00  10.01,RC 957 / RC 957
3974     19  31/01/2019   None   10164    10.00  10.01,RC 959 / RC 959
3975     19  31/01/2019   None   10164    40.00  10.01,RC 961 / RC 961
3976     19  31/01/2019   None   10164    10.00  10.01,RC 963 / RC 963

[3977 rows x 6 columns]

In [324]:
# Usando o to_csv para exportar o arquivo
mapadecaixa.to_csv('MapaCaixa.csv', encoding='latin-1', index=False)

In [ ]:
# Lendo o file csv
mapadecaixa = pd.read_csv(os.getcwd() + "\\MapaCaixa.csv", encoding='ANSI', sep=',', header=0)
mapadecaixa.head()