In [251]:
# from cgitb import text
# from distutils.command.upload import upload 
import pandas as pd
import numpy as np
import os
# import sys
import tkinter as tk
from pathlib import Path
from  tkinter import*
import tkinter.messagebox
from tkinter import filedialog
# from PIL import ImageTk, Image

In [252]:
mapadecaixa = pd.read_csv(os.getcwd() + "\\Movimentação geral (2).csv", encoding='ANSI', sep=',', header=0, thousands = '.', decimal = ',', dtype = {'Valor':np.float64})
# pd.set_option('display.max_columns', None)
# mapadecaixa.head(38) # O número indica a quantidade de linha que a ser exibida.
mapadecaixa.head()

  4o. Agrupamento      Descrição Cliente     Emissão    Valor
0             NaN  968998785-1/1     NaN  20/01/2019   372.08
1             NaN  974994344-1/1     NaN  26/01/2019   985.30
2             NaN  974994337-1/1     NaN  26/01/2019  1200.96
3             NaN  974994323-1/1     NaN  26/01/2019  1208.07
4             NaN  972460256-1/1     NaN  26/01/2019  1240.85

In [ ]:
mapadecaixa.dtypes

In [ ]:
#Alterando o tipo de dados da coluna
mapadecaixa['4o. Agrupamento'] = mapadecaixa['4o. Agrupamento'].astype('string')

In [ ]:
mapadecaixa.dtypes

In [ ]:
# O (.str.replace) pra retirar os - e 
mapadecaixa[['4o. Agrupamento','DEBITO']] = mapadecaixa['4o. Agrupamento'].str.split(';', expand=True)

mapadecaixa.head(38)

In [ ]:
# mapadecaixa
mapadecaixa.head(40)

In [ ]:
mapadecaixa['FILIAL'] = ''

In [ ]:
mapadecaixa['CREDITO'] = '10164'

In [ ]:
mapadecaixa['HISTORICO'] = '10.01'+ "," + mapadecaixa['4o. Agrupamento']+ "," + mapadecaixa['Cliente']+ "," + mapadecaixa['Descrição']

In [ ]:
mapadecaixa['HISTORICO'] = mapadecaixa['HISTORICO'].str.upper()

In [ ]:
# mapadecaixa
mapadecaixa.head(40)

In [ ]:
colunas = {'4o. Agrupamento':'4AGRUPAMENTO','Descrição':'DESCRIÇÃO','Cliente':'CLIENTE','Emissão':'DATA','Valor':'VALOR'}
mapadecaixa.rename(columns = colunas, inplace=True)

In [ ]:
mapadecaixa

In [ ]:
# Excluíndo coluna
mapadecaixa = mapadecaixa.drop('4AGRUPAMENTO', axis=1)

In [ ]:
mapadecaixa

In [ ]:
new_ordem_colls = ['FILIAL', 'DATA', 'DEBITO', 'CREDITO', 'VALOR', 'HISTORICO']
mapadecaixa = mapadecaixa[new_ordem_colls]

In [ ]:
# mapadecaixa
mapadecaixa.head(40)

In [ ]:
filial = input("Digite a Filial: ")
mapadecaixa['FILIAL'] = filial

In [ ]:
mapadecaixa

In [ ]:
# Usando o to_csv para exportar o arquivo
mapadecaixa.to_csv('MapaCaixa.csv', encoding='latin-1', index=False)

In [ ]:
# Lendo o file csv
mapadecaixa = pd.read_csv(os.getcwd() + "\\MapaCaixa.csv", encoding='ANSI', sep=',', header=0)
mapadecaixa.head()