In [20]:
# from cgitb import text
# from distutils.command.upload import upload 
import pandas as pd
import numpy as np
import os
# import sys
import tkinter as tk
from pathlib import Path
from  tkinter import*
import tkinter.messagebox
from tkinter import filedialog
# from PIL import ImageTk, Image

In [21]:
# mapadecaixa = pd.read_csv(os.getcwd() + "\\Movimentação geral (2).csv", encoding='ANSI', sep=',', header=0, thousands = '.', decimal = ',', dtype = {'Valor':np.float64})
mapadecaixa = pd.read_csv(os.getcwd() + "\\Movimentação geral com 3ag.csv", encoding='ANSI', sep=',', header=0, thousands = '.', decimal = ',', dtype = {'Valor':np.float64})
# pd.set_option('display.max_columns', None)
# mapadecaixa.head(38) # O número indica a quantidade de linha que a ser exibida.
mapadecaixa.head()

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor
0,Cartão de Crédito,NaN,968998785-1/1,NaN,20/01/2019,372.08
1,Cartão de Crédito,NaN,974994344-1/1,NaN,26/01/2019,985.30
2,Cartão de Crédito,NaN,974994337-1/1,NaN,26/01/2019,1200.96
3,Cartão de Crédito,NaN,974994323-1/1,NaN,26/01/2019,1208.07
4,Cartão de Crédito,NaN,972460256-1/1,NaN,26/01/2019,1240.85

In [56]:
# Criando nova coluna
mapadecaixa['nova_coluna'] = ''
# Fazendo a iteração:
for index, row in mapadecaixa.iterrows():
    if row['3o. Agrupamento'] == 'Cartão de Crédito':
    # if row['LOCALIDADE'] == row['ds_cidade']:
        # mapadecaixa.loc[index,'nova_coluna'] =  str(mapadecaixa.loc[index,'Cliente'])
        # mapadecaixa.loc[index,'nova_coluna'] =  str(mapadecaixa.loc[index,['4o. Agrupamento'], + '-', + ['Cliente']])
        mapadecaixa.loc[index,'nova_coluna'] =  str(mapadecaixa.loc[index,['4o. Agrupamento'] +'-'+ ['Cliente']])

TypeError: can only concatenate list (not "str") to list

In [53]:
mapadecaixa.head(38)

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,nova_coluna
0,Cartão de Crédito,NaN,968998785-1/1,NaN,20/01/2019,372.08,4o. Agrupamento NaN\nCliente NaN...
1,Cartão de Crédito,NaN,974994344-1/1,NaN,26/01/2019,985.30,4o. Agrupamento NaN\nCliente NaN...
2,Cartão de Crédito,NaN,974994337-1/1,NaN,26/01/2019,1200.96,4o. Agrupamento NaN\nCliente NaN...
3,Cartão de Crédito,NaN,974994323-1/1,NaN,26/01/2019,1208.07,4o. Agrupamento NaN\nCliente NaN...
4,Cartão de Crédito,NaN,972460256-1/1,NaN,26/01/2019,1240.85,4o. Agrupamento NaN\nCliente NaN...
5,Cartão de Crédito,NaN,974994330-1/1,NaN,26/01/2019,1208.07,4o. Agrupamento NaN\nCliente NaN...
6,Cartão de Crédito,NaN,972460461-1/1,NaN,26/01/2019,899.00,4o. Agrupamento NaN\nCliente NaN...
7,Cartão de Crédito,NaN,972460829-1/1,NaN,26/01/2019,1323.10,4o. Agrupamento NaN\nCliente NaN...
8,Cartão de Crédito,NaN,972460706-1/1,NaN,26/01/2019,1787.30,4o. Agrupamento NaN\nCliente NaN...
9,Cartão de Crédito,NaN,972461111-1/1,NaN,26/01/2019,1175.04,4o. Agrupamento NaN\nCliente NaN...
10,Cartão de Crédito,NaN,972461104-1/1,NaN,26/01/2019,1323.10,4o. Agrupamento NaN\nCliente NaN...
11,Cartão de Crédito,NaN,"972461752-08/10, 972461752-06/10, 972461752-09...",NaN,27/01/2019,944.70,4o. Agrupamento NaN\nCliente NaN...
12,Cartão de Crédito,NaN,975773568-1/1,NaN,27/01/2019,1059.01,4o. Agrupamento NaN\nCliente NaN...
13,Cartão de Crédito,NaN,975824065-1/1,NaN,27/01/2019,159.00,4o. Agrupamento NaN\nCliente NaN...
14,Cartão de Crédito,NaN,975824486-1/1,NaN,27/01/2019,1224.40,4o. Agrupamento NaN\nCliente NaN...
15,Cartão de Crédito,NaN,975824998-1/1,NaN,27/01/2019,1191.50,4o. Agrupamento NaN\nCliente NaN...
16,Cartão de Crédito,NaN,975825021-1/1,NaN,27/01/2019,379.00,4o. Agrupamento NaN\nCliente NaN...
17,Cartão de Crédito,NaN,975825043-1/1,NaN,27/01/2019,1165.00,4o. Agrupamento NaN\nCliente NaN...
18,Cartão de Crédito,NaN,975825085-1/1,NaN,27/01/2019,565.00,4o. Agrupamento NaN\nCliente NaN...
19,Cartão de Crédito,NaN,975825107-1/1,NaN,27/01/2019,600.00,4o. Agrupamento NaN\nCliente NaN...
20,Cartão de Crédito,NaN,975825129-1/1,NaN,27/01/2019,1089.01,4o. Agrupamento NaN\nCliente NaN...
21,Cartão de Crédito,NaN,976950512-1/1,NaN,29/01/2019,117.00,4o. Agrupamento NaN\nCliente NaN...
22,Cartão de Crédito,NaN,977200338-1/1,NaN,30/01/2019,33.00,4o. Agrupamento NaN\nCliente NaN...
23,Cartão de Débito,NaN,947916964-1/1,NaN,07/01/2019,239.01,
24,Cartão de Débito,NaN,975823761-1/1,NaN,27/01/2019,600.00,
25,Cartão de Débito,NaN,975823783-1/1,NaN,27/01/2019,575.04,
26,Cartão de Débito,NaN,976950056-1/1,NaN,29/01/2019,239.01,
27,Dinheiro,Carteira Cobrança Simples,960980966-1/1,NaN,04/01/2019,94.77,
28,Dinheiro,Carteira Cobrança Simples,968998701-1/1,NaN,20/01/2019,900.00,
29,Dinheiro,Carteira Cobrança Simples,974994351-1/1,NaN,26/01/2019,300.00,
30,Dinheiro,Carteira Cobrança Simples,975823561-1/1,NaN,27/01/2019,379.00,
31,Dinheiro,Carteira Cobrança Simples,975823615-1/1,NaN,27/01/2019,289.01,
32,Dinheiro,Carteira Cobrança Simples,975823741-1/1,NaN,27/01/2019,995.00,
33,Dinheiro,Carteira Cobrança Simples,975825065-1/1,NaN,27/01/2019,379.01,
34,Dinheiro,Carteira Cobrança Simples,977200345-1/1,NaN,30/01/2019,11.00,
35,Cartão de Crédito,Cart Hipercard Rede;10221,CNF 963966098 / RC 947634408 / NFC-e 000013867,Walter Ferreira de Albuquerque,05/01/2019,33.00,4o. Agrupamento Cart Hipercard Rede;10...
36,Cartão de Crédito,Cart American Express;10225,CNF 948476646 / RC 948735395 / NFC-e 000014037,Juliana Rocha,07/01/2019,83.33,4o. Agrupamento Cart American Express;10225...
37,Cartão de Crédito,Cart American Express;10225,CNF 949261555 / RC 964288446 / NFC-e 000017828...,Jefferson Irineu da Silva,08/01/2019,3428.88,4o. Agrupamento Cart American Express;10225...

In [ ]:
# Criando nova coluna
mapadecaixa['nova_coluna'] = ''
# Fazendo a iteração:
for index, row in mapadecaixa.iterrows():
    if row['3o. Agrupamento'] == 'DUPLICATA':
    # if row['LOCALIDADE'] == row['ds_cidade']:
        mapadecaixa.loc[index,'nova_coluna'] =  str(mapadecaixa.loc[index,'Cliente'])  

# -------------------------------------------------------------------------------------
if  (('4o. Agrupamento' == 'DUPLICATA') end ('4o. Agrupamento' == 'CRÉDITO BANCÁRIO') end ('4o. Agrupamento' == 'CHEQUE À VISTA')):
    '4o. Agrupamento' + '-' + 'Cliente'
# -------------------------------------------------------------------------------------
var = '3o. Agrupamento'

if (var =='DUPLICATA' end var =='CRÉDITO BANCÁRIO'):
    ('4o. Agrupamento' + '-' + 'Cliente')
elif ('3o. Agrupamento' == 'CHEQUE À VISTA'):
    ('4o. Agrupamento' + '-' + 'Cliente')
else:
# -------------------------------------------------------------------------------------
    valores = []
for linha in mapadecaixa.itertuples(): # Melhor e mais rápido.
    valores.append('3o. Agrupamento' if linha['3o. Agrupamento'] == 'DUPLICATA' else '')
mapadecaixa['4AGRUPAMENTO'] = valores

In [ ]:
#Ordena todas as linhas do DataFrame do maior para o menor
# O ignore_index=True permanece com o indece sempre em ordem independente se o ASCENDING seja FALSE ou TRUE.
# O na_position='first' ordena as linhas vázias/NULAS nas primeiras posições.
# O inplace=True grava a mudança no DataFrame
mapadecaixa.sort_values(['4o. Agrupamento', 'Descrição', 'Cliente', 'Emissão', 'Valor'], ascending=False, ignore_index=True, na_position='first')

In [ ]:
mapadecaixa.head()

In [ ]:
mapadecaixa.dtypes

In [ ]:
#Alterando o tipo de dados da coluna
mapadecaixa['4o. Agrupamento'] = mapadecaixa['4o. Agrupamento'].astype('string')

In [ ]:
mapadecaixa.dtypes

In [ ]:
# O (.str.replace) pra retirar os - e 
mapadecaixa[['4o. Agrupamento','DEBITO']] = mapadecaixa['4o. Agrupamento'].str.split(';', expand=True)

mapadecaixa.head(38)

In [ ]:
# mapadecaixa
mapadecaixa.head(40)

In [ ]:
mapadecaixa['FILIAL'] = ''

In [ ]:
mapadecaixa['CREDITO'] = '10164'

In [ ]:
mapadecaixa['HISTORICO'] = '10.01'+ "," + mapadecaixa['4o. Agrupamento']+ "," + mapadecaixa['Cliente']+ "," + mapadecaixa['Descrição']

In [ ]:
mapadecaixa['HISTORICO'] = mapadecaixa['HISTORICO'].str.upper()

In [ ]:
# mapadecaixa
mapadecaixa.head(40)

In [ ]:
colunas = {'4o. Agrupamento':'4AGRUPAMENTO','Descrição':'DESCRIÇÃO','Cliente':'CLIENTE','Emissão':'DATA','Valor':'VALOR'}
mapadecaixa.rename(columns = colunas, inplace=True)

In [ ]:
mapadecaixa

In [ ]:
# Excluíndo coluna
mapadecaixa = mapadecaixa.drop('4AGRUPAMENTO', axis=1)

In [ ]:
mapadecaixa

In [ ]:
new_ordem_colls = ['FILIAL', 'DATA', 'DEBITO', 'CREDITO', 'VALOR', 'HISTORICO']
mapadecaixa = mapadecaixa[new_ordem_colls]

In [ ]:
# mapadecaixa
mapadecaixa.head(40)

In [ ]:
#Ordena todas as linhas do DataFrame do maior para o menor
# O ignore_index=True permanece com o indece sempre em ordem independente se o ASCENDING seja FALSE ou TRUE.
# O na_position='first' ordena as linhas vázias/NULAS nas primeiras posições.
# O inplace=True grava a mudança no DataFrame
## mapadecaixa.sort_values(['4o. Agrupamento', 'Descrição', 'Cliente', 'Emissão', 'Valor'], ascending=False, ignore_index=True, na_position='first', inplace=True)
mapadecaixa.sort_values(['4o. Agrupamento', 'Descrição', 'Cliente', 'Emissão', 'Valor'], ascending=False, ignore_index=True, na_position='first')

In [ ]:
filial = input("Digite a Filial: ")
mapadecaixa['FILIAL'] = filial

In [ ]:
mapadecaixa

In [ ]:
# Usando o to_csv para exportar o arquivo
mapadecaixa.to_csv('MapaCaixa.csv', encoding='latin-1', index=False)

In [ ]:
# Lendo o file csv
mapadecaixa = pd.read_csv(os.getcwd() + "\\MapaCaixa.csv", encoding='ANSI', sep=',', header=0)
mapadecaixa.head()