In [16]:
# from cgitb import text
# from distutils.command.upload import upload 
import pandas as pd
import numpy as np
import os
# import sys
import tkinter as tk
from pathlib import Path
from  tkinter import*
import tkinter.messagebox
from tkinter import filedialog
# from PIL import ImageTk, Image

In [17]:
# mapadecaixa = pd.read_csv(os.getcwd() + "\\Movimentação geral (2).csv", encoding='ANSI', sep=',', header=0, thousands = '.', decimal = ',', dtype = {'Valor':np.float64})
# mapadecaixa = pd.read_csv(os.getcwd() + "\\Movimentação geral com 3ag.csv", encoding='ANSI', sep=',', header=0, thousands = '.', decimal = ',', dtype = {'Valor':np.float64})
mapadecaixa = pd.read_csv(os.getcwd() + "\\Movimentação geral LJ 880 CSV.csv", encoding='ANSI', sep=',', header=0, thousands = '.', decimal = ',', dtype = {'Valor':np.float64})
# 'skiprows=20' pula as 20 primeiras linhas. 'skiprows=[ 0, 2, 4, 10 ]', pula as linhas de índice 0, 2, 4 e 10.
# pd.set_option('display.max_columns', None)
mapadecaixa.head(38) # O número indica a quantidade de linha que a ser exibida.
# mapadecaixa.head()
# mapadecaixa

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor
0,Cartão de Crédito,NaN,"630276895-2/2, 630276895-1/2",NaN,10/03/2022,53.46
1,Cartão de Crédito,NaN,"635209191-2/2, 635209191-1/2",NaN,16/03/2022,194.94
2,Cartão de Débito,NaN,633042330-1/1,NaN,13/03/2022,101.00
3,Cartão de Débito,NaN,635209553-1/1,NaN,16/03/2022,500.00
4,Dinheiro,Carteira Cobrança Simples,627764966-1/1,NaN,01/03/2022,604.00
5,Dinheiro,Carteira Cobrança Simples,627764956-1/1,NaN,01/03/2022,250.00
6,Dinheiro,Carteira Cobrança Simples,627765351-1/1,NaN,01/03/2022,661.00
7,Cartão de Crédito,Cart Fortbrasil;511077,CNF 638684726 / RC 638749730 / NFC-e 000047425,Gisele Maria Lima dos Santos,19/03/2022,430.00
8,Cartão de Crédito,Cart Fortbrasil;511077,CNF 639690586 / RC 640078168 / NFC-e 000040221,Luan Henrique,23/03/2022,1738.80
9,Cartão de Crédito,Cart Fortbrasil;511077,CNF 642905681 / RC 643696726 / NFC-e 000007709...,Jose Afonso de Lira Tavares,31/03/2022,1149.00
10,Cartão de Crédito,Cart Fortbrasil;511077,NFC-e 000039816,Reginaldo Lucio de Azevedo,06/03/2022,399.00
11,Cartão de Crédito,Cart Fortbrasil;511077,NFC-e 000047184,Sergio Marcio Alves da Silva,07/03/2022,499.00
12,Cartão de Crédito,Cart Fortbrasil;511077,NFC-e 000047348,Genilza Franca de Sena,15/03/2022,499.65
13,Cartão de Crédito,Cart Fortbrasil;511077,NFC-e 000047533,Rosineide Braga dos Santos,27/03/2022,899.01
14,Cartão de Crédito,Cart American Express Pagseguro;10225,CNF 636163635 / RC 636376836 / NFC-e 000039999,Maria de Fatima Marques Pereira da Costa,14/03/2022,256.65
15,Cartão de Crédito,Cart American Express Pagseguro;10225,CNF 639829041 / RC 639990341 / RC 639992115 / ...,Marta Maria Bezerra Coreia,23/03/2022,2667.44
16,Cartão de Crédito,Cart American Express Pagseguro;10225,NFC-e 000007504,Tomaz Antonio da Costa Correia,11/03/2022,269.23
17,Cartão de Crédito,Cart American Express Pagseguro;10225,NFC-e 000040076,Eronides Bezerra,17/03/2022,205.84
18,Cartão de Crédito,Cart American Express Pagseguro;10225,NFC-e 000040182,Joalison Silva de Lima,21/03/2022,539.00
19,Cartão de Crédito,Cart American Express Pagseguro;10225,NFC-e 000040299,Renato Calumby Farias,28/03/2022,557.17
20,Cartão de Crédito,Cart American Express Pagseguro;10225,NFC-e 000007699,Mariana Roque,31/03/2022,179.00
21,Cartão de Crédito,Cart Hipercard Pagseguro;10221,CNF 640374059 / NFC-e 000062283,Renan da Silva Pinheiro,26/03/2022,1126.00
22,Cartão de Crédito,Cart Hipercard Pagseguro;10221,CNF 641233656 / NFC-e 000062303,Maria Alessandra Gomes da Silva,27/03/2022,2915.52
23,Cartão de Crédito,Cart Hipercard Pagseguro;10221,CNF 642579252 / NFC-e 000040336 / RC 642675864,Ana Claudia Machado da Silva,30/03/2022,342.00
24,Cartão de Crédito,Cart Hipercard Pagseguro;10221,NFC-e 000047511,Josuel Manuel da Silva,24/03/2022,149.00
25,Cartão de Crédito,Cart Hipercard Pagseguro;10221,NFC-e 000007660,Marliete Santana de Medeiros,25/03/2022,269.00
26,Cartão de Crédito,Cart Hipercard Pagseguro;10221,NFC-e 000040307,Maria Rosana Rodrigues Morais dos Santos,28/03/2022,284.30
27,Cartão de Crédito,Cart Hipercard Pagseguro;10221,NFC-e 000040317,Mauricio de Santos Filho,29/03/2022,1049.00
28,Cartão de Crédito,Cart Hipercard Pagseguro;10221,NFC-e 000007683,Felipe de Arruda Ferreira,29/03/2022,514.00
29,Cartão de Crédito,Cart Hipercard Pagseguro;10221,NFC-e 000040328,Bruno Almeida,30/03/2022,208.71
30,Cartão de Crédito,Cart Hipercard Pagseguro;10221,NFC-e 000047595,Laudicea Maria de Lima Cortez,30/03/2022,799.01
31,Cartão de Crédito,Cart Hipercard Pagseguro;10221,NFC-e 000040344,Marta Perreira Viana,30/03/2022,179.00
32,Cartão de Crédito,Cart Hipercard Pagseguro;10221,NFC-e 000040346,Hugo Medeiros de Góis,30/03/2022,557.17
33,Cartão de Crédito,Cart Hipercard Pagseguro;10221,NFC-e 000047599,Fabiano Felipe Nevis,30/03/2022,265.32
34,Cartão de Crédito,Cart Hipercard Pagseguro;10221,NFC-e 000047615,Lindinalva Pereira dos Santos,31/03/2022,149.00
35,Cartão de Crédito,Cart Elo Credito Pagseguro;45764,CNF 632653173 / NFe 000029974,Paa Engenharia E Consultoria Ltda,07/03/2022,1863.56
36,Cartão de Crédito,Cart Elo Credito Pagseguro;45764,CNF 632846587 / RC 633012603 / NFC-e 000039864...,Paulo Almeida de Albuquerque,07/03/2022,485.66
37,Cartão de Crédito,Cart Elo Credito Pagseguro;45764,CNF 633505969 / NFC-e 000061846,Janaina Monteiro dos Santos,08/03/2022,1611.00

In [14]:
# 4 agrupamento
# for index, row in mapadecaixa.iterrows():
#     if row['3o. Agrupamento'] == 'Cartão de Crédito' and row['4o. Agrupamento'] == 'NaN':
#         mapadecaixa.loc[index, '4o. Agrupamento'] = 'Cart Hipercard Pagseguro;10221'
#     elif row['3o. Agrupamento'] == 'Cartão de Crédito' and row['4o. Agrupamento'] == 'NaN':
#         mapadecaixa.loc[index, '4o. Agrupamento'] = 'Cart Maestro Pagseguro;10221'
# 4 agrupamento
for index, row in mapadecaixa.iterrows():
    if row['3o. Agrupamento'] == 'Cartão de Crédito':
        mapadecaixa.loc[index, '4o. Agrupamento'] = 'Cart Hipercard Pagseguro;10221'
    elif row['3o. Agrupamento'] == 'Cartão de Crédito':
        mapadecaixa.loc[index, '4o. Agrupamento'] = 'Cart Maestro Pagseguro;10221'

In [18]:
mapadecaixa

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor
0,Cartão de Crédito,NaN,"630276895-2/2, 630276895-1/2",NaN,10/03/2022,53.46
1,Cartão de Crédito,NaN,"635209191-2/2, 635209191-1/2",NaN,16/03/2022,194.94
2,Cartão de Débito,NaN,633042330-1/1,NaN,13/03/2022,101.00
3,Cartão de Débito,NaN,635209553-1/1,NaN,16/03/2022,500.00
4,Dinheiro,Carteira Cobrança Simples,627764966-1/1,NaN,01/03/2022,604.00
...,...,...,...,...,...,...
1907,Dinheiro,Carteira Cobrança Simples,RC 1062 / RC 1062,Consumidor Final,24/03/2022,10.00
1908,Dinheiro,Carteira Cobrança Simples,RC 1064 / RC 1064,Consumidor Final,26/03/2022,15.00
1909,Dinheiro,Carteira Cobrança Simples,RC 1066 / RC 1066,Consumidor Final,26/03/2022,10.00
1910,Dinheiro,Carteira Cobrança Simples,RC 1213 / RC 1213,Consumidor Final,30/03/2022,30.00
1911,Dinheiro,Carteira Cobrança Simples,RC 1215 / RC 1215,Consumidor Final,31/03/2022,20.00

In [ ]:
#---- Exibe apenas valores que começa com 'RC'
mapadecaixa[mapadecaixa['3o. Agrupamento'].str.startswith('Cheque à vista')]

In [ ]:
#---- MOSTRA A QUANTIDADE DE LINHAS E COLUNAS
mapadecaixa.shape

In [19]:
# Dividindo a coluna '4o. Agrupamento' em '4o. Agrupamento' e 'DEBITO' onde se encontra o ponto e virgula ';'
# O (.str.replace) pra retirar os - e
mapadecaixa[['4o. Agrupamento','DEBITO']] = mapadecaixa['4o. Agrupamento'].str.split(';', expand=True)
# mapadecaixa.head(38)
# mapadecaixa.head()
mapadecaixa

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO
0,Cartão de Crédito,NaN,"630276895-2/2, 630276895-1/2",NaN,10/03/2022,53.46,NaN
1,Cartão de Crédito,NaN,"635209191-2/2, 635209191-1/2",NaN,16/03/2022,194.94,NaN
2,Cartão de Débito,NaN,633042330-1/1,NaN,13/03/2022,101.00,NaN
3,Cartão de Débito,NaN,635209553-1/1,NaN,16/03/2022,500.00,NaN
4,Dinheiro,Carteira Cobrança Simples,627764966-1/1,NaN,01/03/2022,604.00,None
...,...,...,...,...,...,...,...
1907,Dinheiro,Carteira Cobrança Simples,RC 1062 / RC 1062,Consumidor Final,24/03/2022,10.00,None
1908,Dinheiro,Carteira Cobrança Simples,RC 1064 / RC 1064,Consumidor Final,26/03/2022,15.00,None
1909,Dinheiro,Carteira Cobrança Simples,RC 1066 / RC 1066,Consumidor Final,26/03/2022,10.00,None
1910,Dinheiro,Carteira Cobrança Simples,RC 1213 / RC 1213,Consumidor Final,30/03/2022,30.00,None
1911,Dinheiro,Carteira Cobrança Simples,RC 1215 / RC 1215,Consumidor Final,31/03/2022,20.00,None

In [20]:
# 3 agrupamento
for index, row in mapadecaixa.iterrows():
    if row['3o. Agrupamento'] == 'Duplicata':
        mapadecaixa.loc[index, 'DEBITO'] = '10265'
    elif row['3o. Agrupamento'] == 'Crédito Bancário':
        mapadecaixa.loc[index, 'DEBITO'] = '10265'
    elif row['3o. Agrupamento'] == 'Cheque à vista':
        mapadecaixa.loc[index, 'DEBITO'] = '10267'

mapadecaixa.head(38)

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO
0,Cartão de Crédito,NaN,"630276895-2/2, 630276895-1/2",NaN,10/03/2022,53.46,NaN
1,Cartão de Crédito,NaN,"635209191-2/2, 635209191-1/2",NaN,16/03/2022,194.94,NaN
2,Cartão de Débito,NaN,633042330-1/1,NaN,13/03/2022,101.00,NaN
3,Cartão de Débito,NaN,635209553-1/1,NaN,16/03/2022,500.00,NaN
4,Dinheiro,Carteira Cobrança Simples,627764966-1/1,NaN,01/03/2022,604.00,None
5,Dinheiro,Carteira Cobrança Simples,627764956-1/1,NaN,01/03/2022,250.00,None
6,Dinheiro,Carteira Cobrança Simples,627765351-1/1,NaN,01/03/2022,661.00,None
7,Cartão de Crédito,Cart Fortbrasil,CNF 638684726 / RC 638749730 / NFC-e 000047425,Gisele Maria Lima dos Santos,19/03/2022,430.00,511077
8,Cartão de Crédito,Cart Fortbrasil,CNF 639690586 / RC 640078168 / NFC-e 000040221,Luan Henrique,23/03/2022,1738.80,511077
9,Cartão de Crédito,Cart Fortbrasil,CNF 642905681 / RC 643696726 / NFC-e 000007709...,Jose Afonso de Lira Tavares,31/03/2022,1149.00,511077
10,Cartão de Crédito,Cart Fortbrasil,NFC-e 000039816,Reginaldo Lucio de Azevedo,06/03/2022,399.00,511077
11,Cartão de Crédito,Cart Fortbrasil,NFC-e 000047184,Sergio Marcio Alves da Silva,07/03/2022,499.00,511077
12,Cartão de Crédito,Cart Fortbrasil,NFC-e 000047348,Genilza Franca de Sena,15/03/2022,499.65,511077
13,Cartão de Crédito,Cart Fortbrasil,NFC-e 000047533,Rosineide Braga dos Santos,27/03/2022,899.01,511077
14,Cartão de Crédito,Cart American Express Pagseguro,CNF 636163635 / RC 636376836 / NFC-e 000039999,Maria de Fatima Marques Pereira da Costa,14/03/2022,256.65,10225
15,Cartão de Crédito,Cart American Express Pagseguro,CNF 639829041 / RC 639990341 / RC 639992115 / ...,Marta Maria Bezerra Coreia,23/03/2022,2667.44,10225
16,Cartão de Crédito,Cart American Express Pagseguro,NFC-e 000007504,Tomaz Antonio da Costa Correia,11/03/2022,269.23,10225
17,Cartão de Crédito,Cart American Express Pagseguro,NFC-e 000040076,Eronides Bezerra,17/03/2022,205.84,10225
18,Cartão de Crédito,Cart American Express Pagseguro,NFC-e 000040182,Joalison Silva de Lima,21/03/2022,539.00,10225
19,Cartão de Crédito,Cart American Express Pagseguro,NFC-e 000040299,Renato Calumby Farias,28/03/2022,557.17,10225
20,Cartão de Crédito,Cart American Express Pagseguro,NFC-e 000007699,Mariana Roque,31/03/2022,179.00,10225
21,Cartão de Crédito,Cart Hipercard Pagseguro,CNF 640374059 / NFC-e 000062283,Renan da Silva Pinheiro,26/03/2022,1126.00,10221
22,Cartão de Crédito,Cart Hipercard Pagseguro,CNF 641233656 / NFC-e 000062303,Maria Alessandra Gomes da Silva,27/03/2022,2915.52,10221
23,Cartão de Crédito,Cart Hipercard Pagseguro,CNF 642579252 / NFC-e 000040336 / RC 642675864,Ana Claudia Machado da Silva,30/03/2022,342.00,10221
24,Cartão de Crédito,Cart Hipercard Pagseguro,NFC-e 000047511,Josuel Manuel da Silva,24/03/2022,149.00,10221
25,Cartão de Crédito,Cart Hipercard Pagseguro,NFC-e 000007660,Marliete Santana de Medeiros,25/03/2022,269.00,10221
26,Cartão de Crédito,Cart Hipercard Pagseguro,NFC-e 000040307,Maria Rosana Rodrigues Morais dos Santos,28/03/2022,284.30,10221
27,Cartão de Crédito,Cart Hipercard Pagseguro,NFC-e 000040317,Mauricio de Santos Filho,29/03/2022,1049.00,10221
28,Cartão de Crédito,Cart Hipercard Pagseguro,NFC-e 000007683,Felipe de Arruda Ferreira,29/03/2022,514.00,10221
29,Cartão de Crédito,Cart Hipercard Pagseguro,NFC-e 000040328,Bruno Almeida,30/03/2022,208.71,10221
30,Cartão de Crédito,Cart Hipercard Pagseguro,NFC-e 000047595,Laudicea Maria de Lima Cortez,30/03/2022,799.01,10221
31,Cartão de Crédito,Cart Hipercard Pagseguro,NFC-e 000040344,Marta Perreira Viana,30/03/2022,179.00,10221
32,Cartão de Crédito,Cart Hipercard Pagseguro,NFC-e 000040346,Hugo Medeiros de Góis,30/03/2022,557.17,10221
33,Cartão de Crédito,Cart Hipercard Pagseguro,NFC-e 000047599,Fabiano Felipe Nevis,30/03/2022,265.32,10221
34,Cartão de Crédito,Cart Hipercard Pagseguro,NFC-e 000047615,Lindinalva Pereira dos Santos,31/03/2022,149.00,10221
35,Cartão de Crédito,Cart Elo Credito Pagseguro,CNF 632653173 / NFe 000029974,Paa Engenharia E Consultoria Ltda,07/03/2022,1863.56,45764
36,Cartão de Crédito,Cart Elo Credito Pagseguro,CNF 632846587 / RC 633012603 / NFC-e 000039864...,Paulo Almeida de Albuquerque,07/03/2022,485.66,45764
37,Cartão de Crédito,Cart Elo Credito Pagseguro,CNF 633505969 / NFC-e 000061846,Janaina Monteiro dos Santos,08/03/2022,1611.00,45764

In [ ]:
mapadecaixa

In [ ]:
#--- 3 agrupamento
# quando for DUPLICATA a conta "DEBITO" = 10265
# quando for CRÉDITO BANCÁRIO a conta "DEBITO" = 10265
# quando for CHEQUE A VISTA a conta "DEBITO" = 10267
for index, row in mapadecaixa.iterrows():
    if row['3o. Agrupamento'] == 'Duplicata':
        mapadecaixa.loc[index, 'DEBITO'] = '10265'
    if row['3o. Agrupamento'] == 'Crédito Bancário':
        mapadecaixa.loc[index, 'DEBITO'] = '10265'
    if row['3o. Agrupamento'] == 'Cheque à vista':
        mapadecaixa.loc[index, 'DEBITO'] = '10267'

mapadecaixa.head(38)
# mapadecaixa.loc['3o. Agrupamento'] == 'Duplicata'

In [ ]:
# mapadecaixa[mapadecaixa['3o. Agrupamento'].str.startswith('Duplicata')] and mapadecaixa[mapadecaixa['3o. Agrupamento'].str.startswith('Crédito Bancário')],
# mapadecaixa[mapadecaixa['3o. Agrupamento'].str.startswith('Cheque à vista')]

In [ ]:
# ----mapadecaixa.head(38)

# Exibe valores que contenha 'RC'
# mapadecaixa[mapadecaixa['Descrição'].str.contains('RC')]

# Exibe apenas valores que começa com 'RC'
# mapadecaixa[mapadecaixa['3o. Agrupamento'].str.startswith('Duplicata')]
mapadecaixa[mapadecaixa['3o. Agrupamento'].str.startswith('Cheque à vista')]

In [21]:
# 4 agrupamento
for index, row in mapadecaixa.iterrows():
    if row['4o. Agrupamento'] == 'Carteira Cobrança Simples':
        mapadecaixa.loc[index, 'DEBITO'] = '45534'
    elif row['4o. Agrupamento'] == 'Cart Credito Garantia':
        mapadecaixa.loc[index, 'DEBITO'] = '344640'

In [ ]:
#---- 4 agrupamento
# quando for "Carteira Cobrança Simples" a conta "DEBITO" = 45534
# quando for "Cart Credito Garantia" a conta "DEBITO" = 344640
for index, row in mapadecaixa.iterrows():
    if row['4o. Agrupamento'] == 'Carteira Cobrança Simples':
        mapadecaixa.loc[index, 'DEBITO'] = '45534'
    if row['4o. Agrupamento'] == 'Cart Credito Garantia':
        mapadecaixa.loc[index, 'DEBITO'] = '344640'

In [ ]:
mapadecaixa.head(38)

In [22]:
# CRIANDO A COLUNA 'CREDITO'
mapadecaixa['CREDITO'] = '10164' 
mapadecaixa

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO,CREDITO
0,Cartão de Crédito,NaN,"630276895-2/2, 630276895-1/2",NaN,10/03/2022,53.46,NaN,10164
1,Cartão de Crédito,NaN,"635209191-2/2, 635209191-1/2",NaN,16/03/2022,194.94,NaN,10164
2,Cartão de Débito,NaN,633042330-1/1,NaN,13/03/2022,101.00,NaN,10164
3,Cartão de Débito,NaN,635209553-1/1,NaN,16/03/2022,500.00,NaN,10164
4,Dinheiro,Carteira Cobrança Simples,627764966-1/1,NaN,01/03/2022,604.00,45534,10164
...,...,...,...,...,...,...,...,...
1907,Dinheiro,Carteira Cobrança Simples,RC 1062 / RC 1062,Consumidor Final,24/03/2022,10.00,45534,10164
1908,Dinheiro,Carteira Cobrança Simples,RC 1064 / RC 1064,Consumidor Final,26/03/2022,15.00,45534,10164
1909,Dinheiro,Carteira Cobrança Simples,RC 1066 / RC 1066,Consumidor Final,26/03/2022,10.00,45534,10164
1910,Dinheiro,Carteira Cobrança Simples,RC 1213 / RC 1213,Consumidor Final,30/03/2022,30.00,45534,10164
1911,Dinheiro,Carteira Cobrança Simples,RC 1215 / RC 1215,Consumidor Final,31/03/2022,20.00,45534,10164

In [ ]:
#---Verificando o tipo da coluna
mapadecaixa.dtypes

In [ ]:
#---Alterando o tipo de dados da coluna
mapadecaixa['Descrição'] = mapadecaixa['Descrição'].astype('string')

In [ ]:
#---Verificando o tipo da coluna
mapadecaixa.dtypes

In [23]:
# DESCRIÇÃO
# quando na DESCRIÇÃO conter "RC*" a conta a CRÉDITO = 31472
for index, row in mapadecaixa.iterrows():
    # if row['Descrição'] == 'RC':
    # if mapadecaixa.loc[mapadecaixa['Descrição'].str.contains('RC', case=False, na=False)]:
    # if mapadecaixa[mapadecaixa['Descrição'].str.contains('RC')].any():
    # if mapadecaixa.index['Descrição'].str.contains('RC'):
    # if mapadecaixa['Descrição'].str.contains('RC').all():
    # if row['Descrição'].str.contains('RC'):
    # if "RC " in mapadecaixa["Descrição"].values:
    if row['Descrição'].startswith('RC'):
    # if row['Descrição'].str.match('RC'):
    # if row[mapadecaixa[mapadecaixa['Descrição'].str.startswith('RC')]]:
        mapadecaixa.loc[index, 'CREDITO'] = '31472'

mapadecaixa

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO,CREDITO
0,Cartão de Crédito,NaN,"630276895-2/2, 630276895-1/2",NaN,10/03/2022,53.46,NaN,10164
1,Cartão de Crédito,NaN,"635209191-2/2, 635209191-1/2",NaN,16/03/2022,194.94,NaN,10164
2,Cartão de Débito,NaN,633042330-1/1,NaN,13/03/2022,101.00,NaN,10164
3,Cartão de Débito,NaN,635209553-1/1,NaN,16/03/2022,500.00,NaN,10164
4,Dinheiro,Carteira Cobrança Simples,627764966-1/1,NaN,01/03/2022,604.00,45534,10164
...,...,...,...,...,...,...,...,...
1907,Dinheiro,Carteira Cobrança Simples,RC 1062 / RC 1062,Consumidor Final,24/03/2022,10.00,45534,31472
1908,Dinheiro,Carteira Cobrança Simples,RC 1064 / RC 1064,Consumidor Final,26/03/2022,15.00,45534,31472
1909,Dinheiro,Carteira Cobrança Simples,RC 1066 / RC 1066,Consumidor Final,26/03/2022,10.00,45534,31472
1910,Dinheiro,Carteira Cobrança Simples,RC 1213 / RC 1213,Consumidor Final,30/03/2022,30.00,45534,31472
1911,Dinheiro,Carteira Cobrança Simples,RC 1215 / RC 1215,Consumidor Final,31/03/2022,20.00,45534,31472

In [ ]:
#----Exibe valores que contenha 'RC'
mapadecaixa[mapadecaixa['Descrição'].str.contains('RC')]

# Exibe apenas valores que começa com 'RC'
# mapadecaixa[mapadecaixa['Descrição'].str.startswith('RC')]

In [ ]:
mapadecaixa

In [24]:
# Criando nova coluna
mapadecaixa['NEWCOLUN'] = ''
for index, row in mapadecaixa.iterrows():
    if row['3o. Agrupamento'] == 'Duplicata':
        mapadecaixa.loc[index,'NEWCOLUN'] =  str(mapadecaixa.loc[index,'3o. Agrupamento']) + ' - ' + str(mapadecaixa.loc[index,'Cliente'])
    elif row['3o. Agrupamento'] == 'Crédito Bancário':
        mapadecaixa.loc[index,'NEWCOLUN'] =  str(mapadecaixa.loc[index,'3o. Agrupamento']) + ' - ' + str(mapadecaixa.loc[index,'Cliente'])
    elif row['3o. Agrupamento'] == 'Cheque à vista':
        mapadecaixa.loc[index,'NEWCOLUN'] =  str(mapadecaixa.loc[index,'3o. Agrupamento']) + ' - ' + str(mapadecaixa.loc[index,'Cliente'])

In [ ]:
#---- Criando nova coluna
mapadecaixa['NEWCOLUN'] = ''
# onde na coluna '3o. Agrupamento' for = 'Duplicata' faça '3o. Agrupamento' + 'Cliente'
# onde na coluna '3o. Agrupamento' for = 'Crédito bancario' faça '3o. Agrupamento' + 'Cliente'
# onde na coluna '3o. Agrupamento' for = 'Cheque à vista' faça '3o. Agrupamento' + 'Cliente'
# Fazendo a iteração:
for index, row in mapadecaixa.iterrows():
    if row['3o. Agrupamento'] == 'Duplicata':
        mapadecaixa.loc[index,'NEWCOLUN'] =  str(mapadecaixa.loc[index,'3o. Agrupamento']) + ' - ' + str(mapadecaixa.loc[index,'Cliente'])
    if row['3o. Agrupamento'] == 'Crédito Bancário':
        mapadecaixa.loc[index,'NEWCOLUN'] =  str(mapadecaixa.loc[index,'3o. Agrupamento']) + ' - ' + str(mapadecaixa.loc[index,'Cliente'])
    if row['3o. Agrupamento'] == 'Cheque à vista':
        mapadecaixa.loc[index,'NEWCOLUN'] =  str(mapadecaixa.loc[index,'3o. Agrupamento']) + ' - ' + str(mapadecaixa.loc[index,'Cliente'])

In [ ]:
# mapadecaixa.head()
# mapadecaixa.head(38)
#----Exibe valores que contenha 'RC'
mapadecaixa[mapadecaixa['3o. Agrupamento'].str.contains('Duplicata')]

In [ ]:
#----Ordena todas as linhas do DataFrame do maior para o menor
# O ignore_index=True permanece com o indece sempre em ordem independente se o ASCENDING seja FALSE ou TRUE.
# O na_position='first' ordena as linhas vázias/NULAS nas primeiras posições.
# O inplace=True grava a mudança no DataFrame
mapadecaixa.sort_values(['4o. Agrupamento', 'Descrição', 'Cliente', 'Emissão', 'Valor'], ascending=False, ignore_index=True, na_position='first')

In [ ]:
mapadecaixa.head()

In [ ]:
#---- verificando o tipo de dados das colunas
mapadecaixa.dtypes

In [ ]:
#---Alterando o tipo de dados da coluna
mapadecaixa['4o. Agrupamento'] = mapadecaixa['4o. Agrupamento'].astype('string')

In [ ]:
#---- verificando o tipo de dados das colunas
mapadecaixa.dtypes

In [ ]:
# O (.str.replace) pra retirar os - e 
# mapadecaixa[['4o. Agrupamento','DEBITO']] = mapadecaixa['4o. Agrupamento'].str.split(';', expand=True)

# mapadecaixa.head(38)

In [ ]:
# mapadecaixa
mapadecaixa.head(40)

In [25]:
# CRIANDO A COLUNA 'FILIAL'
mapadecaixa['FILIAL'] = ''

In [26]:
# MESCLANDO OS CONTEÚDO DA COLUNA 'HISTORIOC', 'NEWCOLUN' e 'Descrição'
# mapadecaixa['HISTORICO'] = '10.01'+ "," + mapadecaixa['4o. Agrupamento']+ "," + mapadecaixa['Cliente']+ "," + mapadecaixa['Descrição']
mapadecaixa['HISTORICO'] = '10.01'+ "," + mapadecaixa['NEWCOLUN']+ "," + mapadecaixa['Descrição']

In [ ]:
mapadecaixa

In [27]:
# SUBSTITUIR pontos (.) por vírgulas (,) 
# mapadecaixa['HISTORICO'] = mapadecaixa['HISTORICO'].apply(lambda x: float(x.replace(".","").replace(",",".")))
# mapadecaixa = mapadecaixa.replace({',': ''}, regex=True)
mapadecaixa['HISTORICO'] = mapadecaixa['HISTORICO'].astype(str)
mapadecaixa['HISTORICO'] = mapadecaixa['HISTORICO'].str.replace(',,', ',')

In [28]:
mapadecaixa

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO,CREDITO,NEWCOLUN,FILIAL,HISTORICO
0,Cartão de Crédito,NaN,"630276895-2/2, 630276895-1/2",NaN,10/03/2022,53.46,NaN,10164,,,"10.01,630276895-2/2, 630276895-1/2"
1,Cartão de Crédito,NaN,"635209191-2/2, 635209191-1/2",NaN,16/03/2022,194.94,NaN,10164,,,"10.01,635209191-2/2, 635209191-1/2"
2,Cartão de Débito,NaN,633042330-1/1,NaN,13/03/2022,101.00,NaN,10164,,,"10.01,633042330-1/1"
3,Cartão de Débito,NaN,635209553-1/1,NaN,16/03/2022,500.00,NaN,10164,,,"10.01,635209553-1/1"
4,Dinheiro,Carteira Cobrança Simples,627764966-1/1,NaN,01/03/2022,604.00,45534,10164,,,"10.01,627764966-1/1"
...,...,...,...,...,...,...,...,...,...,...,...
1907,Dinheiro,Carteira Cobrança Simples,RC 1062 / RC 1062,Consumidor Final,24/03/2022,10.00,45534,31472,,,"10.01,RC 1062 / RC 1062"
1908,Dinheiro,Carteira Cobrança Simples,RC 1064 / RC 1064,Consumidor Final,26/03/2022,15.00,45534,31472,,,"10.01,RC 1064 / RC 1064"
1909,Dinheiro,Carteira Cobrança Simples,RC 1066 / RC 1066,Consumidor Final,26/03/2022,10.00,45534,31472,,,"10.01,RC 1066 / RC 1066"
1910,Dinheiro,Carteira Cobrança Simples,RC 1213 / RC 1213,Consumidor Final,30/03/2022,30.00,45534,31472,,,"10.01,RC 1213 / RC 1213"
1911,Dinheiro,Carteira Cobrança Simples,RC 1215 / RC 1215,Consumidor Final,31/03/2022,20.00,45534,31472,,,"10.01,RC 1215 / RC 1215"

In [29]:
# CAPTULANDO TODA COLUNA 'HISTORICO'
mapadecaixa['HISTORICO'] = mapadecaixa['HISTORICO'].str.upper()

In [ ]:
# mapadecaixa
# mapadecaixa.head(40)
mapadecaixa.head()

In [30]:
# EXCLUÍNDO COLUNA
# mapadecaixa = mapadecaixa.drop('3o. Agrupamento', axis=1)
# mapadecaixa = mapadecaixa.drop('4o. Agrupamento', axis=1)
# mapadecaixa = mapadecaixa.drop('Descrição', axis=1)
# mapadecaixa = mapadecaixa.drop('Cliente', axis=1)
# mapadecaixa = mapadecaixa.drop(['3o. Agrupamento','4o. Agrupamento','Descrição','Cliente', 'NEWCOLUN'], axis=1, inplace=True)
mapadecaixa = mapadecaixa.drop(['3o. Agrupamento','4o. Agrupamento','Descrição','Cliente', 'NEWCOLUN'], axis=1)

In [ ]:
mapadecaixa

In [31]:
# RENOMEAR COLUNAS
# colunas = {'4o. Agrupamento':'4AGRUPAMENTO','Descrição':'DESCRIÇÃO','Cliente':'CLIENTE','Emissão':'DATA','Valor':'VALOR'}
colunas = {'Emissão':'DATA','Valor':'VALOR'}
mapadecaixa.rename(columns = colunas, inplace=True)

In [32]:
mapadecaixa

,DATA,VALOR,DEBITO,CREDITO,FILIAL,HISTORICO
0,10/03/2022,53.46,NaN,10164,,"10.01,630276895-2/2, 630276895-1/2"
1,16/03/2022,194.94,NaN,10164,,"10.01,635209191-2/2, 635209191-1/2"
2,13/03/2022,101.00,NaN,10164,,"10.01,633042330-1/1"
3,16/03/2022,500.00,NaN,10164,,"10.01,635209553-1/1"
4,01/03/2022,604.00,45534,10164,,"10.01,627764966-1/1"
...,...,...,...,...,...,...
1907,24/03/2022,10.00,45534,31472,,"10.01,RC 1062 / RC 1062"
1908,26/03/2022,15.00,45534,31472,,"10.01,RC 1064 / RC 1064"
1909,26/03/2022,10.00,45534,31472,,"10.01,RC 1066 / RC 1066"
1910,30/03/2022,30.00,45534,31472,,"10.01,RC 1213 / RC 1213"
1911,31/03/2022,20.00,45534,31472,,"10.01,RC 1215 / RC 1215"

In [33]:
# REORDENANDO COLUNAS
new_ordem_colls = ['FILIAL', 'DATA', 'DEBITO', 'CREDITO', 'VALOR', 'HISTORICO']
mapadecaixa = mapadecaixa[new_ordem_colls]

In [34]:
mapadecaixa

,FILIAL,DATA,DEBITO,CREDITO,VALOR,HISTORICO
0,,10/03/2022,NaN,10164,53.46,"10.01,630276895-2/2, 630276895-1/2"
1,,16/03/2022,NaN,10164,194.94,"10.01,635209191-2/2, 635209191-1/2"
2,,13/03/2022,NaN,10164,101.00,"10.01,633042330-1/1"
3,,16/03/2022,NaN,10164,500.00,"10.01,635209553-1/1"
4,,01/03/2022,45534,10164,604.00,"10.01,627764966-1/1"
...,...,...,...,...,...,...
1907,,24/03/2022,45534,31472,10.00,"10.01,RC 1062 / RC 1062"
1908,,26/03/2022,45534,31472,15.00,"10.01,RC 1064 / RC 1064"
1909,,26/03/2022,45534,31472,10.00,"10.01,RC 1066 / RC 1066"
1910,,30/03/2022,45534,31472,30.00,"10.01,RC 1213 / RC 1213"
1911,,31/03/2022,45534,31472,20.00,"10.01,RC 1215 / RC 1215"

In [ ]:
#---- SUBSTITUINDO OS VALORES 'NaN' e 'None', VALORES NULOS OU EMBRANCO
# mapadecaixa['DEBITO'].fillna(1111, inplace=True) # O "inplace=True" grava no dataframe. Faz a alteração apenas na coluna 'DEBITO'.
mapadecaixa.fillna(1111, inplace=True) # O "inplace=True" grava no dataframe. Faz a alteração em todo DATAFRAMA.

In [ ]:
#---- QUANTOS DADOS FALTANTES TEM NAS COLUNAS
mapadecaixa.isnull().sum()

# EXIBIR LINHAS EM BRANCO
mapadecaixa[mapadecaixa['DEBITO'].isnull()]

In [ ]:
# mapadecaixa
mapadecaixa.head(40)

In [ ]:
#----Ordena todas as linhas do DataFrame do maior para o menor
# O ignore_index=True permanece com o indece sempre em ordem independente se o ASCENDING seja FALSE ou TRUE.
# O na_position='first' ordena as linhas vázias/NULAS nas primeiras posições.
# O inplace=True grava a mudança no DataFrame
## mapadecaixa.sort_values(['4o. Agrupamento', 'Descrição', 'Cliente', 'Emissão', 'Valor'], ascending=False, ignore_index=True, na_position='first', inplace=True)
mapadecaixa.sort_values(['4o. Agrupamento', 'Descrição', 'Cliente', 'Emissão', 'Valor'], ascending=False, ignore_index=True, na_position='first')

In [47]:
# DIGITE A FILIAL
filial = input("Digite a Filial: ")
mapadecaixa['FILIAL'] = filial

In [37]:
mapadecaixa

,FILIAL,DATA,DEBITO,CREDITO,VALOR,HISTORICO
0,87,10/03/2022,NaN,10164,53.46,"10.01,630276895-2/2, 630276895-1/2"
1,87,16/03/2022,NaN,10164,194.94,"10.01,635209191-2/2, 635209191-1/2"
2,87,13/03/2022,NaN,10164,101.00,"10.01,633042330-1/1"
3,87,16/03/2022,NaN,10164,500.00,"10.01,635209553-1/1"
4,87,01/03/2022,45534,10164,604.00,"10.01,627764966-1/1"
...,...,...,...,...,...,...
1907,87,24/03/2022,45534,31472,10.00,"10.01,RC 1062 / RC 1062"
1908,87,26/03/2022,45534,31472,15.00,"10.01,RC 1064 / RC 1064"
1909,87,26/03/2022,45534,31472,10.00,"10.01,RC 1066 / RC 1066"
1910,87,30/03/2022,45534,31472,30.00,"10.01,RC 1213 / RC 1213"
1911,87,31/03/2022,45534,31472,20.00,"10.01,RC 1215 / RC 1215"

In [48]:
# USANDO O 'to_csv' PARA EXPORTAR O ARQUIVO
# O 'index=False' salva sem a coluna de indece e o 'header=False' salva sem o cabeçalho/titulo das colunas
mapadecaixa.to_csv('Filial_'+filial+' - MapaCaixa.csv', encoding='latin-1', header=False, index=False) 
# print('Existem Linhas em Branco na coluna:','\n',mapadecaixa[mapadecaixa['DEBITO'].isnull()])
# print("Existem:",mapadecaixa['DEBITO'].isnull().sum(),"Contas em branco na coluna DÉBITO")
# mapadecaixa.isnull().sum()

In [ ]:
mapadecaixa

In [ ]:
# LENDO O ARQUIVO csv
mapadecaixa = pd.read_csv(os.getcwd() + "\\MapaCaixa.csv", encoding='ANSI', sep=',', header=0)
mapadecaixa.head()