In [71]:
# pip install voila # Transforma App ipynb em AppWeb (voila app.ipynb)
# from cgitb import text
# from distutils.command.upload import upload 
import pandas as pd
import numpy as np
import os
# import sys
import tkinter as tk
from pathlib import Path
from  tkinter import*
import tkinter.messagebox 
from tkinter import filedialog
# from PIL import ImageTk, Image
# import lxml 
import ipywidgets as widgets
# from ipywidgets import widgets

In [72]:
# mapadecaixa = pd.read_csv(os.getcwd() + "\\Movimentação geral (2).csv", encoding='ANSI', sep=',', header=0, thousands = '.', decimal = ',', dtype = {'Valor':np.float64})
# mapadecaixa = pd.read_csv(os.getcwd() + "\\Movimentação geral com 3ag.csv", encoding='ANSI', sep=',', header=0, thousands = '.', decimal = ',', dtype = {'Valor':np.float64})
mapadecaixa = pd.read_csv(os.getcwd() + "\\Movimentação geral LJ 880 CSV.csv", encoding='ANSI', sep=',', header=0, thousands = '.', decimal = ',', dtype = {'Valor':np.float64})
# mapadecaixa = pd.read_csv(os.getcwd() + "\\Movimentação geral LJ 25 -duplicata.csv", encoding='ANSI', sep=',', header=0, thousands = '.', decimal = ',', dtype = {'Valor':np.float64})
# 'skiprows=20' pula as 20 primeiras linhas. 'skiprows=[ 0, 2, 4, 10 ]', pula as linhas de índice 0, 2, 4 e 10.
# pd.set_option('display.max_columns', None)
# mapadecaixa.head(38) # O número indica a quantidade de linha que a ser exibida.
mapadecaixa.head()
# mapadecaixa

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor
0,Cartão de Crédito,NaN,"630276895-2/2, 630276895-1/2",NaN,10/03/2022,53.46
1,Cartão de Crédito,NaN,"635209191-2/2, 635209191-1/2",NaN,16/03/2022,194.94
2,Cartão de Débito,NaN,633042330-1/1,NaN,13/03/2022,101.00
3,Cartão de Débito,NaN,635209553-1/1,NaN,16/03/2022,500.00
4,Dinheiro,Carteira Cobrança Simples,627764966-1/1,NaN,01/03/2022,604.00

In [ ]:
button = widgets.Button(  
    description='Converter CSV',  
)  
button

In [ ]:
    title_textbox = widgets.Text(  
        value = '',  
        description = 'Title:',  
    )  
    title_textbox

In [73]:
# 3 agrupamento
# quando 3 agrupamento for Cartão de Crédito e 4 agrupamento=vazio faça = Cart Hipercard Pagseguro;10221
# quando 3 agrupamento for Cartão de Débito e 4 agrupamento=vazio faça = Cart Maestro Pagseguro;10221
for index, row in mapadecaixa.iterrows():
    if row ['3o. Agrupamento'] == 'Cartão de Crédito' and mapadecaixa['4o. Agrupamento'].isnull().values.any():
        mapadecaixa.loc[index, '4o. Agrupamento'] = 'Cart Hipercard Pagseguro;10221'
    elif row['3o. Agrupamento'] == 'Cartão de Débito' and mapadecaixa['4o. Agrupamento'].isnull().values.any():
        mapadecaixa.loc[index, '4o. Agrupamento'] = 'Cart Maestro Pagseguro;10221'

mapadecaixa

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor
0,Cartão de Crédito,Cart Hipercard Pagseguro;10221,"630276895-2/2, 630276895-1/2",NaN,10/03/2022,53.46
1,Cartão de Crédito,Cart Hipercard Pagseguro;10221,"635209191-2/2, 635209191-1/2",NaN,16/03/2022,194.94
2,Cartão de Débito,Cart Maestro Pagseguro;10221,633042330-1/1,NaN,13/03/2022,101.00
3,Cartão de Débito,Cart Maestro Pagseguro;10221,635209553-1/1,NaN,16/03/2022,500.00
4,Dinheiro,Carteira Cobrança Simples,627764966-1/1,NaN,01/03/2022,604.00
...,...,...,...,...,...,...
1907,Dinheiro,Carteira Cobrança Simples,RC 1062 / RC 1062,Consumidor Final,24/03/2022,10.00
1908,Dinheiro,Carteira Cobrança Simples,RC 1064 / RC 1064,Consumidor Final,26/03/2022,15.00
1909,Dinheiro,Carteira Cobrança Simples,RC 1066 / RC 1066,Consumidor Final,26/03/2022,10.00
1910,Dinheiro,Carteira Cobrança Simples,RC 1213 / RC 1213,Consumidor Final,30/03/2022,30.00
1911,Dinheiro,Carteira Cobrança Simples,RC 1215 / RC 1215,Consumidor Final,31/03/2022,20.00

In [ ]:
#---- Exibe apenas valores que começa com 'RC'
mapadecaixa[mapadecaixa['3o. Agrupamento'].str.startswith('Cheque à vista')]

In [ ]:
#---- MOSTRA A QUANTIDADE DE LINHAS E COLUNAS
mapadecaixa.shape

In [74]:
# Dividindo a coluna '4o. Agrupamento' em '4o. Agrupamento' e 'DEBITO' onde se encontra o ponto e virgula ';'
# O (.str.replace) pra retirar os - e
mapadecaixa[['4o. Agrupamento','DEBITO']] = mapadecaixa['4o. Agrupamento'].str.split(';', expand=True)
# mapadecaixa.head(38)
# mapadecaixa.head()
mapadecaixa

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO
0,Cartão de Crédito,Cart Hipercard Pagseguro,"630276895-2/2, 630276895-1/2",NaN,10/03/2022,53.46,10221
1,Cartão de Crédito,Cart Hipercard Pagseguro,"635209191-2/2, 635209191-1/2",NaN,16/03/2022,194.94,10221
2,Cartão de Débito,Cart Maestro Pagseguro,633042330-1/1,NaN,13/03/2022,101.00,10221
3,Cartão de Débito,Cart Maestro Pagseguro,635209553-1/1,NaN,16/03/2022,500.00,10221
4,Dinheiro,Carteira Cobrança Simples,627764966-1/1,NaN,01/03/2022,604.00,None
...,...,...,...,...,...,...,...
1907,Dinheiro,Carteira Cobrança Simples,RC 1062 / RC 1062,Consumidor Final,24/03/2022,10.00,None
1908,Dinheiro,Carteira Cobrança Simples,RC 1064 / RC 1064,Consumidor Final,26/03/2022,15.00,None
1909,Dinheiro,Carteira Cobrança Simples,RC 1066 / RC 1066,Consumidor Final,26/03/2022,10.00,None
1910,Dinheiro,Carteira Cobrança Simples,RC 1213 / RC 1213,Consumidor Final,30/03/2022,30.00,None
1911,Dinheiro,Carteira Cobrança Simples,RC 1215 / RC 1215,Consumidor Final,31/03/2022,20.00,None

In [75]:
# 3 agrupamento
for index, row in mapadecaixa.iterrows():
    if row['3o. Agrupamento'] == 'Duplicata':
        mapadecaixa.loc[index, 'DEBITO'] = '10265'
    elif row['3o. Agrupamento'] == 'Crédito Bancário':
        mapadecaixa.loc[index, 'DEBITO'] = '10265'
    elif row['3o. Agrupamento'] == 'Cheque à vista':
        mapadecaixa.loc[index, 'DEBITO'] = '10267'

mapadecaixa

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO
0,Cartão de Crédito,Cart Hipercard Pagseguro,"630276895-2/2, 630276895-1/2",NaN,10/03/2022,53.46,10221
1,Cartão de Crédito,Cart Hipercard Pagseguro,"635209191-2/2, 635209191-1/2",NaN,16/03/2022,194.94,10221
2,Cartão de Débito,Cart Maestro Pagseguro,633042330-1/1,NaN,13/03/2022,101.00,10221
3,Cartão de Débito,Cart Maestro Pagseguro,635209553-1/1,NaN,16/03/2022,500.00,10221
4,Dinheiro,Carteira Cobrança Simples,627764966-1/1,NaN,01/03/2022,604.00,None
...,...,...,...,...,...,...,...
1907,Dinheiro,Carteira Cobrança Simples,RC 1062 / RC 1062,Consumidor Final,24/03/2022,10.00,None
1908,Dinheiro,Carteira Cobrança Simples,RC 1064 / RC 1064,Consumidor Final,26/03/2022,15.00,None
1909,Dinheiro,Carteira Cobrança Simples,RC 1066 / RC 1066,Consumidor Final,26/03/2022,10.00,None
1910,Dinheiro,Carteira Cobrança Simples,RC 1213 / RC 1213,Consumidor Final,30/03/2022,30.00,None
1911,Dinheiro,Carteira Cobrança Simples,RC 1215 / RC 1215,Consumidor Final,31/03/2022,20.00,None

In [ ]:
#--- 3 agrupamento
# quando for DUPLICATA a conta "DEBITO" = 10265
# quando for CRÉDITO BANCÁRIO a conta "DEBITO" = 10265
# quando for CHEQUE A VISTA a conta "DEBITO" = 10267
for index, row in mapadecaixa.iterrows():
    if row['3o. Agrupamento'] == 'Duplicata':
        mapadecaixa.loc[index, 'DEBITO'] = '10265'
    if row['3o. Agrupamento'] == 'Crédito Bancário':
        mapadecaixa.loc[index, 'DEBITO'] = '10265'
    if row['3o. Agrupamento'] == 'Cheque à vista':
        mapadecaixa.loc[index, 'DEBITO'] = '10267'

mapadecaixa.head(38)
# mapadecaixa.loc['3o. Agrupamento'] == 'Duplicata'

In [ ]:
# mapadecaixa[mapadecaixa['3o. Agrupamento'].str.startswith('Duplicata')] and mapadecaixa[mapadecaixa['3o. Agrupamento'].str.startswith('Crédito Bancário')],
# mapadecaixa[mapadecaixa['3o. Agrupamento'].str.startswith('Cheque à vista')]

In [ ]:
# ----mapadecaixa.head(38)

# Exibe valores que contenha 'RC'
# mapadecaixa[mapadecaixa['Descrição'].str.contains('RC')]

# Exibe apenas valores que começa com 'RC'
# mapadecaixa[mapadecaixa['3o. Agrupamento'].str.startswith('Duplicata')]
mapadecaixa[mapadecaixa['3o. Agrupamento'].str.startswith('Cheque à vista')]

In [76]:
# 4 agrupamento
for index, row in mapadecaixa.iterrows():
    if row['4o. Agrupamento'] == 'Carteira Cobrança Simples':
        mapadecaixa.loc[index, 'DEBITO'] = '45534'
    if row['4o. Agrupamento'] == 'Cart Credito Garantia':
        mapadecaixa.loc[index, 'DEBITO'] = '344640'
    elif row['3o. Agrupamento'] == 'Dinheiro':
        mapadecaixa.loc[index, 'DEBITO'] = '45534'

mapadecaixa

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO
0,Cartão de Crédito,Cart Hipercard Pagseguro,"630276895-2/2, 630276895-1/2",NaN,10/03/2022,53.46,10221
1,Cartão de Crédito,Cart Hipercard Pagseguro,"635209191-2/2, 635209191-1/2",NaN,16/03/2022,194.94,10221
2,Cartão de Débito,Cart Maestro Pagseguro,633042330-1/1,NaN,13/03/2022,101.00,10221
3,Cartão de Débito,Cart Maestro Pagseguro,635209553-1/1,NaN,16/03/2022,500.00,10221
4,Dinheiro,Carteira Cobrança Simples,627764966-1/1,NaN,01/03/2022,604.00,45534
...,...,...,...,...,...,...,...
1907,Dinheiro,Carteira Cobrança Simples,RC 1062 / RC 1062,Consumidor Final,24/03/2022,10.00,45534
1908,Dinheiro,Carteira Cobrança Simples,RC 1064 / RC 1064,Consumidor Final,26/03/2022,15.00,45534
1909,Dinheiro,Carteira Cobrança Simples,RC 1066 / RC 1066,Consumidor Final,26/03/2022,10.00,45534
1910,Dinheiro,Carteira Cobrança Simples,RC 1213 / RC 1213,Consumidor Final,30/03/2022,30.00,45534
1911,Dinheiro,Carteira Cobrança Simples,RC 1215 / RC 1215,Consumidor Final,31/03/2022,20.00,45534

In [ ]:
#---- 4 agrupamento
# quando for "Carteira Cobrança Simples" a conta "DEBITO" = 45534
# quando for "Cart Credito Garantia" a conta "DEBITO" = 344640
for index, row in mapadecaixa.iterrows():
    if row['4o. Agrupamento'] == 'Carteira Cobrança Simples':
        mapadecaixa.loc[index, 'DEBITO'] = '45534'
    if row['4o. Agrupamento'] == 'Cart Credito Garantia':
        mapadecaixa.loc[index, 'DEBITO'] = '344640'

In [ ]:
mapadecaixa.head(38)

In [77]:
# CRIANDO A COLUNA 'CREDITO'
mapadecaixa['CREDITO'] = '10164' 

mapadecaixa

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO,CREDITO
0,Cartão de Crédito,Cart Hipercard Pagseguro,"630276895-2/2, 630276895-1/2",NaN,10/03/2022,53.46,10221,10164
1,Cartão de Crédito,Cart Hipercard Pagseguro,"635209191-2/2, 635209191-1/2",NaN,16/03/2022,194.94,10221,10164
2,Cartão de Débito,Cart Maestro Pagseguro,633042330-1/1,NaN,13/03/2022,101.00,10221,10164
3,Cartão de Débito,Cart Maestro Pagseguro,635209553-1/1,NaN,16/03/2022,500.00,10221,10164
4,Dinheiro,Carteira Cobrança Simples,627764966-1/1,NaN,01/03/2022,604.00,45534,10164
...,...,...,...,...,...,...,...,...
1907,Dinheiro,Carteira Cobrança Simples,RC 1062 / RC 1062,Consumidor Final,24/03/2022,10.00,45534,10164
1908,Dinheiro,Carteira Cobrança Simples,RC 1064 / RC 1064,Consumidor Final,26/03/2022,15.00,45534,10164
1909,Dinheiro,Carteira Cobrança Simples,RC 1066 / RC 1066,Consumidor Final,26/03/2022,10.00,45534,10164
1910,Dinheiro,Carteira Cobrança Simples,RC 1213 / RC 1213,Consumidor Final,30/03/2022,30.00,45534,10164
1911,Dinheiro,Carteira Cobrança Simples,RC 1215 / RC 1215,Consumidor Final,31/03/2022,20.00,45534,10164

In [78]:
mapadecaixa['HIST.cod'] = '10.01'

mapadecaixa

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO,CREDITO,HIST.cod
0,Cartão de Crédito,Cart Hipercard Pagseguro,"630276895-2/2, 630276895-1/2",NaN,10/03/2022,53.46,10221,10164,10.01
1,Cartão de Crédito,Cart Hipercard Pagseguro,"635209191-2/2, 635209191-1/2",NaN,16/03/2022,194.94,10221,10164,10.01
2,Cartão de Débito,Cart Maestro Pagseguro,633042330-1/1,NaN,13/03/2022,101.00,10221,10164,10.01
3,Cartão de Débito,Cart Maestro Pagseguro,635209553-1/1,NaN,16/03/2022,500.00,10221,10164,10.01
4,Dinheiro,Carteira Cobrança Simples,627764966-1/1,NaN,01/03/2022,604.00,45534,10164,10.01
...,...,...,...,...,...,...,...,...,...
1907,Dinheiro,Carteira Cobrança Simples,RC 1062 / RC 1062,Consumidor Final,24/03/2022,10.00,45534,10164,10.01
1908,Dinheiro,Carteira Cobrança Simples,RC 1064 / RC 1064,Consumidor Final,26/03/2022,15.00,45534,10164,10.01
1909,Dinheiro,Carteira Cobrança Simples,RC 1066 / RC 1066,Consumidor Final,26/03/2022,10.00,45534,10164,10.01
1910,Dinheiro,Carteira Cobrança Simples,RC 1213 / RC 1213,Consumidor Final,30/03/2022,30.00,45534,10164,10.01
1911,Dinheiro,Carteira Cobrança Simples,RC 1215 / RC 1215,Consumidor Final,31/03/2022,20.00,45534,10164,10.01

In [ ]:
#---Verificando o tipo da coluna
mapadecaixa.dtypes

In [ ]:
#---Alterando o tipo de dados da coluna
mapadecaixa['Descrição'] = mapadecaixa['Descrição'].astype('string')

In [ ]:
#---Verificando o tipo da coluna
mapadecaixa.dtypes

In [79]:
# DESCRIÇÃO
# quando na DESCRIÇÃO conter "RC*" a conta a CRÉDITO = 31472
for index, row in mapadecaixa.iterrows():
    # if row['Descrição'] == 'RC':
    # if mapadecaixa.loc[mapadecaixa['Descrição'].str.contains('RC', case=False, na=False)]:
    # if mapadecaixa[mapadecaixa['Descrição'].str.contains('RC')].any():
    # if mapadecaixa.index['Descrição'].str.contains('RC'):
    # if mapadecaixa['Descrição'].str.contains('RC').all():
    # if row['Descrição'].str.contains('RC'):
    # if "RC " in mapadecaixa["Descrição"].values:
    if row['Descrição'].startswith('RC'):
    # if row['Descrição'].str.match('RC'):
    # if row[mapadecaixa[mapadecaixa['Descrição'].str.startswith('RC')]]:
        mapadecaixa.loc[index, 'CREDITO'] = '31472'

mapadecaixa

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO,CREDITO,HIST.cod
0,Cartão de Crédito,Cart Hipercard Pagseguro,"630276895-2/2, 630276895-1/2",NaN,10/03/2022,53.46,10221,10164,10.01
1,Cartão de Crédito,Cart Hipercard Pagseguro,"635209191-2/2, 635209191-1/2",NaN,16/03/2022,194.94,10221,10164,10.01
2,Cartão de Débito,Cart Maestro Pagseguro,633042330-1/1,NaN,13/03/2022,101.00,10221,10164,10.01
3,Cartão de Débito,Cart Maestro Pagseguro,635209553-1/1,NaN,16/03/2022,500.00,10221,10164,10.01
4,Dinheiro,Carteira Cobrança Simples,627764966-1/1,NaN,01/03/2022,604.00,45534,10164,10.01
...,...,...,...,...,...,...,...,...,...
1907,Dinheiro,Carteira Cobrança Simples,RC 1062 / RC 1062,Consumidor Final,24/03/2022,10.00,45534,31472,10.01
1908,Dinheiro,Carteira Cobrança Simples,RC 1064 / RC 1064,Consumidor Final,26/03/2022,15.00,45534,31472,10.01
1909,Dinheiro,Carteira Cobrança Simples,RC 1066 / RC 1066,Consumidor Final,26/03/2022,10.00,45534,31472,10.01
1910,Dinheiro,Carteira Cobrança Simples,RC 1213 / RC 1213,Consumidor Final,30/03/2022,30.00,45534,31472,10.01
1911,Dinheiro,Carteira Cobrança Simples,RC 1215 / RC 1215,Consumidor Final,31/03/2022,20.00,45534,31472,10.01

In [ ]:
#----Exibe valores que contenha 'RC'
mapadecaixa[mapadecaixa['Descrição'].str.contains('RC')]

# Exibe apenas valores que começa com 'RC'
# mapadecaixa[mapadecaixa['Descrição'].str.startswith('RC')]

In [ ]:
mapadecaixa

In [80]:
# ESCREVENDO NA COLUNA '4o. Agrupamento
for index, row in mapadecaixa.iterrows():
    if row['3o. Agrupamento'] == 'Duplicata':
        mapadecaixa.loc[index,'4o. Agrupamento'] =  str(mapadecaixa.loc[index,'3o. Agrupamento']) + ' - ' + str(mapadecaixa.loc[index,'Cliente'])
    elif row['3o. Agrupamento'] == 'Crédito Bancário':
         mapadecaixa.loc[index,'4o. Agrupamento'] =  str(mapadecaixa.loc[index,'3o. Agrupamento']) + ' - ' + str(mapadecaixa.loc[index,'Cliente'])
    elif row['3o. Agrupamento'] == 'Cheque à vista':
         mapadecaixa.loc[index,'4o. Agrupamento'] =  str(mapadecaixa.loc[index,'3o. Agrupamento']) + ' - ' + str(mapadecaixa.loc[index,'Cliente'])

mapadecaixa

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO,CREDITO,HIST.cod
0,Cartão de Crédito,Cart Hipercard Pagseguro,"630276895-2/2, 630276895-1/2",NaN,10/03/2022,53.46,10221,10164,10.01
1,Cartão de Crédito,Cart Hipercard Pagseguro,"635209191-2/2, 635209191-1/2",NaN,16/03/2022,194.94,10221,10164,10.01
2,Cartão de Débito,Cart Maestro Pagseguro,633042330-1/1,NaN,13/03/2022,101.00,10221,10164,10.01
3,Cartão de Débito,Cart Maestro Pagseguro,635209553-1/1,NaN,16/03/2022,500.00,10221,10164,10.01
4,Dinheiro,Carteira Cobrança Simples,627764966-1/1,NaN,01/03/2022,604.00,45534,10164,10.01
...,...,...,...,...,...,...,...,...,...
1907,Dinheiro,Carteira Cobrança Simples,RC 1062 / RC 1062,Consumidor Final,24/03/2022,10.00,45534,31472,10.01
1908,Dinheiro,Carteira Cobrança Simples,RC 1064 / RC 1064,Consumidor Final,26/03/2022,15.00,45534,31472,10.01
1909,Dinheiro,Carteira Cobrança Simples,RC 1066 / RC 1066,Consumidor Final,26/03/2022,10.00,45534,31472,10.01
1910,Dinheiro,Carteira Cobrança Simples,RC 1213 / RC 1213,Consumidor Final,30/03/2022,30.00,45534,31472,10.01
1911,Dinheiro,Carteira Cobrança Simples,RC 1215 / RC 1215,Consumidor Final,31/03/2022,20.00,45534,31472,10.01

In [ ]:
#---- Criando nova coluna
mapadecaixa['NEWCOLUN'] = ''
# onde na coluna '3o. Agrupamento' for = 'Duplicata' faça '3o. Agrupamento' + 'Cliente'
# onde na coluna '3o. Agrupamento' for = 'Crédito bancario' faça '3o. Agrupamento' + 'Cliente'
# onde na coluna '3o. Agrupamento' for = 'Cheque à vista' faça '3o. Agrupamento' + 'Cliente'
# Fazendo a iteração:
for index, row in mapadecaixa.iterrows():
    if row['3o. Agrupamento'] == 'Duplicata':
        mapadecaixa.loc[index,'NEWCOLUN'] =  str(mapadecaixa.loc[index,'3o. Agrupamento']) + ' - ' + str(mapadecaixa.loc[index,'Cliente'])
    if row['3o. Agrupamento'] == 'Crédito Bancário':
        mapadecaixa.loc[index,'NEWCOLUN'] =  str(mapadecaixa.loc[index,'3o. Agrupamento']) + ' - ' + str(mapadecaixa.loc[index,'Cliente'])
    if row['3o. Agrupamento'] == 'Cheque à vista':
        mapadecaixa.loc[index,'NEWCOLUN'] =  str(mapadecaixa.loc[index,'3o. Agrupamento']) + ' - ' + str(mapadecaixa.loc[index,'Cliente'])

In [ ]:
#----Exibe valores que contenha 'RC'
# mapadecaixa.head()
# mapadecaixa.head(38)
mapadecaixa[mapadecaixa['3o. Agrupamento'].str.contains('Duplicata')]

In [ ]:
#----Ordena todas as linhas do DataFrame do maior para o menor
# O ignore_index=True permanece com o indece sempre em ordem independente se o ASCENDING seja FALSE ou TRUE.
# O na_position='first' ordena as linhas vázias/NULAS nas primeiras posições.
# O inplace=True grava a mudança no DataFrame
mapadecaixa.sort_values(['4o. Agrupamento', 'Descrição', 'Cliente', 'Emissão', 'Valor'], ascending=False, ignore_index=True, na_position='first')

In [ ]:
#---- verificando o tipo de dados das colunas
mapadecaixa.dtypes

In [ ]:
#---- Alterando o tipo de dados da coluna
mapadecaixa['4o. Agrupamento'] = mapadecaixa['4o. Agrupamento'].astype('string')

In [ ]:
#---- verificando o tipo de dados das colunas
mapadecaixa.dtypes

In [ ]:
# O (.str.replace) pra retirar os - e 
# mapadecaixa[['4o. Agrupamento','DEBITO']] = mapadecaixa['4o. Agrupamento'].str.split(';', expand=True)

# mapadecaixa.head(38)

In [ ]:
# mapadecaixa
mapadecaixa.head(40)

In [81]:
# CRIANDO A COLUNA 'FILIAL'
mapadecaixa['FILIAL'] = ''

mapadecaixa

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO,CREDITO,HIST.cod,FILIAL
0,Cartão de Crédito,Cart Hipercard Pagseguro,"630276895-2/2, 630276895-1/2",NaN,10/03/2022,53.46,10221,10164,10.01,
1,Cartão de Crédito,Cart Hipercard Pagseguro,"635209191-2/2, 635209191-1/2",NaN,16/03/2022,194.94,10221,10164,10.01,
2,Cartão de Débito,Cart Maestro Pagseguro,633042330-1/1,NaN,13/03/2022,101.00,10221,10164,10.01,
3,Cartão de Débito,Cart Maestro Pagseguro,635209553-1/1,NaN,16/03/2022,500.00,10221,10164,10.01,
4,Dinheiro,Carteira Cobrança Simples,627764966-1/1,NaN,01/03/2022,604.00,45534,10164,10.01,
...,...,...,...,...,...,...,...,...,...,...
1907,Dinheiro,Carteira Cobrança Simples,RC 1062 / RC 1062,Consumidor Final,24/03/2022,10.00,45534,31472,10.01,
1908,Dinheiro,Carteira Cobrança Simples,RC 1064 / RC 1064,Consumidor Final,26/03/2022,15.00,45534,31472,10.01,
1909,Dinheiro,Carteira Cobrança Simples,RC 1066 / RC 1066,Consumidor Final,26/03/2022,10.00,45534,31472,10.01,
1910,Dinheiro,Carteira Cobrança Simples,RC 1213 / RC 1213,Consumidor Final,30/03/2022,30.00,45534,31472,10.01,
1911,Dinheiro,Carteira Cobrança Simples,RC 1215 / RC 1215,Consumidor Final,31/03/2022,20.00,45534,31472,10.01,

In [ ]:
#--- MESCLANDO OS CONTEÚDO DA COLUNA 'HISTORIOC', 'NEWCOLUN' e 'Descrição'
# mapadecaixa['HISTORICO'] = '10.01'+ "," + mapadecaixa['4o. Agrupamento']+ "," + mapadecaixa['Cliente']+ "," + mapadecaixa['Descrição']
mapadecaixa['HISTORICO'] = '10.01'+ "," + mapadecaixa['NEWCOLUN']+ "," + mapadecaixa['Descrição']

In [ ]:
mapadecaixa

In [ ]:
#---- SUBSTITUIR pontos (.) por vírgulas (,) 
# mapadecaixa['HISTORICO'] = mapadecaixa['HISTORICO'].apply(lambda x: float(x.replace(".","").replace(",",".")))
# mapadecaixa = mapadecaixa.replace({',': ''}, regex=True)
mapadecaixa['HISTORICO'] = mapadecaixa['HISTORICO'].astype(str)
mapadecaixa['HISTORICO'] = mapadecaixa['HISTORICO'].str.replace(',,', ',')
# mapadecaixa['HISTORICO'] = mapadecaixa['HISTORICO'].str.replace('"', '') # Retira as aspas.

In [ ]:
mapadecaixa

In [ ]:
#---- CAPTULANDO TODA COLUNA 'HISTORICO'
mapadecaixa['HISTORICO'] = mapadecaixa['HISTORICO'].str.upper()

In [82]:
# CAPTULANDO TODA COLUNA '4o. Agrupamento'
mapadecaixa['4o. Agrupamento'] = mapadecaixa['4o. Agrupamento'].str.upper()

mapadecaixa

,3o. Agrupamento,4o. Agrupamento,Descrição,Cliente,Emissão,Valor,DEBITO,CREDITO,HIST.cod,FILIAL
0,Cartão de Crédito,CART HIPERCARD PAGSEGURO,"630276895-2/2, 630276895-1/2",NaN,10/03/2022,53.46,10221,10164,10.01,
1,Cartão de Crédito,CART HIPERCARD PAGSEGURO,"635209191-2/2, 635209191-1/2",NaN,16/03/2022,194.94,10221,10164,10.01,
2,Cartão de Débito,CART MAESTRO PAGSEGURO,633042330-1/1,NaN,13/03/2022,101.00,10221,10164,10.01,
3,Cartão de Débito,CART MAESTRO PAGSEGURO,635209553-1/1,NaN,16/03/2022,500.00,10221,10164,10.01,
4,Dinheiro,CARTEIRA COBRANÇA SIMPLES,627764966-1/1,NaN,01/03/2022,604.00,45534,10164,10.01,
...,...,...,...,...,...,...,...,...,...,...
1907,Dinheiro,CARTEIRA COBRANÇA SIMPLES,RC 1062 / RC 1062,Consumidor Final,24/03/2022,10.00,45534,31472,10.01,
1908,Dinheiro,CARTEIRA COBRANÇA SIMPLES,RC 1064 / RC 1064,Consumidor Final,26/03/2022,15.00,45534,31472,10.01,
1909,Dinheiro,CARTEIRA COBRANÇA SIMPLES,RC 1066 / RC 1066,Consumidor Final,26/03/2022,10.00,45534,31472,10.01,
1910,Dinheiro,CARTEIRA COBRANÇA SIMPLES,RC 1213 / RC 1213,Consumidor Final,30/03/2022,30.00,45534,31472,10.01,
1911,Dinheiro,CARTEIRA COBRANÇA SIMPLES,RC 1215 / RC 1215,Consumidor Final,31/03/2022,20.00,45534,31472,10.01,

In [ ]:
# mapadecaixa
# mapadecaixa.head(40)
mapadecaixa.head()

In [83]:
# EXCLUÍNDO COLUNA
# mapadecaixa = mapadecaixa.drop('3o. Agrupamento', axis=1)
# mapadecaixa = mapadecaixa.drop('4o. Agrupamento', axis=1)
# mapadecaixa = mapadecaixa.drop('Descrição', axis=1)
# mapadecaixa = mapadecaixa.drop('Cliente', axis=1)
# mapadecaixa = mapadecaixa.drop(['3o. Agrupamento','4o. Agrupamento','Descrição','Cliente', 'NEWCOLUN'], axis=1, inplace=True)
mapadecaixa = mapadecaixa.drop(['3o. Agrupamento','Cliente'], axis=1)

mapadecaixa

,4o. Agrupamento,Descrição,Emissão,Valor,DEBITO,CREDITO,HIST.cod,FILIAL
0,CART HIPERCARD PAGSEGURO,"630276895-2/2, 630276895-1/2",10/03/2022,53.46,10221,10164,10.01,
1,CART HIPERCARD PAGSEGURO,"635209191-2/2, 635209191-1/2",16/03/2022,194.94,10221,10164,10.01,
2,CART MAESTRO PAGSEGURO,633042330-1/1,13/03/2022,101.00,10221,10164,10.01,
3,CART MAESTRO PAGSEGURO,635209553-1/1,16/03/2022,500.00,10221,10164,10.01,
4,CARTEIRA COBRANÇA SIMPLES,627764966-1/1,01/03/2022,604.00,45534,10164,10.01,
...,...,...,...,...,...,...,...,...
1907,CARTEIRA COBRANÇA SIMPLES,RC 1062 / RC 1062,24/03/2022,10.00,45534,31472,10.01,
1908,CARTEIRA COBRANÇA SIMPLES,RC 1064 / RC 1064,26/03/2022,15.00,45534,31472,10.01,
1909,CARTEIRA COBRANÇA SIMPLES,RC 1066 / RC 1066,26/03/2022,10.00,45534,31472,10.01,
1910,CARTEIRA COBRANÇA SIMPLES,RC 1213 / RC 1213,30/03/2022,30.00,45534,31472,10.01,
1911,CARTEIRA COBRANÇA SIMPLES,RC 1215 / RC 1215,31/03/2022,20.00,45534,31472,10.01,

In [85]:
# RENOMEAR COLUNAS
# colunas = {'4o. Agrupamento':'4AGRUPAMENTO','Descrição':'DESCRIÇÃO','Cliente':'CLIENTE','Emissão':'DATA','Valor':'VALOR'}
colunas = {'Emissão':'DATA','Valor':'VALOR', '4o. Agrupamento':'HIST.p1', 'Descrição':'HIST.p2'}
mapadecaixa.rename(columns = colunas, inplace=True) 

mapadecaixa

,HIST.p1,HIST.p2,DATA,VALOR,DEBITO,CREDITO,HIST.cod,FILIAL
0,CART HIPERCARD PAGSEGURO,"630276895-2/2, 630276895-1/2",10/03/2022,53.46,10221,10164,10.01,
1,CART HIPERCARD PAGSEGURO,"635209191-2/2, 635209191-1/2",16/03/2022,194.94,10221,10164,10.01,
2,CART MAESTRO PAGSEGURO,633042330-1/1,13/03/2022,101.00,10221,10164,10.01,
3,CART MAESTRO PAGSEGURO,635209553-1/1,16/03/2022,500.00,10221,10164,10.01,
4,CARTEIRA COBRANÇA SIMPLES,627764966-1/1,01/03/2022,604.00,45534,10164,10.01,
...,...,...,...,...,...,...,...,...
1907,CARTEIRA COBRANÇA SIMPLES,RC 1062 / RC 1062,24/03/2022,10.00,45534,31472,10.01,
1908,CARTEIRA COBRANÇA SIMPLES,RC 1064 / RC 1064,26/03/2022,15.00,45534,31472,10.01,
1909,CARTEIRA COBRANÇA SIMPLES,RC 1066 / RC 1066,26/03/2022,10.00,45534,31472,10.01,
1910,CARTEIRA COBRANÇA SIMPLES,RC 1213 / RC 1213,30/03/2022,30.00,45534,31472,10.01,
1911,CARTEIRA COBRANÇA SIMPLES,RC 1215 / RC 1215,31/03/2022,20.00,45534,31472,10.01,

In [86]:
# REORDENANDO COLUNAS
new_ordem_colls = ['FILIAL', 'DATA', 'DEBITO', 'CREDITO', 'VALOR', 'HIST.cod', 'HIST.p1', 'HIST.p2']
mapadecaixa = mapadecaixa[new_ordem_colls]

mapadecaixa

,FILIAL,DATA,DEBITO,CREDITO,VALOR,HIST.cod,HIST.p1,HIST.p2
0,,10/03/2022,10221,10164,53.46,10.01,CART HIPERCARD PAGSEGURO,"630276895-2/2, 630276895-1/2"
1,,16/03/2022,10221,10164,194.94,10.01,CART HIPERCARD PAGSEGURO,"635209191-2/2, 635209191-1/2"
2,,13/03/2022,10221,10164,101.00,10.01,CART MAESTRO PAGSEGURO,633042330-1/1
3,,16/03/2022,10221,10164,500.00,10.01,CART MAESTRO PAGSEGURO,635209553-1/1
4,,01/03/2022,45534,10164,604.00,10.01,CARTEIRA COBRANÇA SIMPLES,627764966-1/1
...,...,...,...,...,...,...,...,...
1907,,24/03/2022,45534,31472,10.00,10.01,CARTEIRA COBRANÇA SIMPLES,RC 1062 / RC 1062
1908,,26/03/2022,45534,31472,15.00,10.01,CARTEIRA COBRANÇA SIMPLES,RC 1064 / RC 1064
1909,,26/03/2022,45534,31472,10.00,10.01,CARTEIRA COBRANÇA SIMPLES,RC 1066 / RC 1066
1910,,30/03/2022,45534,31472,30.00,10.01,CARTEIRA COBRANÇA SIMPLES,RC 1213 / RC 1213
1911,,31/03/2022,45534,31472,20.00,10.01,CARTEIRA COBRANÇA SIMPLES,RC 1215 / RC 1215

In [ ]:
mapadecaixa

In [ ]:
#---- SUBSTITUINDO OS VALORES 'NaN' e 'None', VALORES NULOS OU EMBRANCO
# mapadecaixa['DEBITO'].fillna(1111, inplace=True) # O "inplace=True" grava no dataframe. Faz a alteração apenas na coluna 'DEBITO'.
mapadecaixa.fillna(1111, inplace=True) # O "inplace=True" grava no dataframe. Faz a alteração em todo DATAFRAMA.

In [ ]:
#---- QUANTOS DADOS FALTANTES TEM NAS COLUNAS
mapadecaixa.isnull().sum()

# EXIBIR LINHAS EM BRANCO
mapadecaixa[mapadecaixa['DEBITO'].isnull()]

In [ ]:
# mapadecaixa
mapadecaixa.head(40)

In [ ]:
#----Ordena todas as linhas do DataFrame do maior para o menor
# O ignore_index=True permanece com o indece sempre em ordem independente se o ASCENDING seja FALSE ou TRUE.
# O na_position='first' ordena as linhas vázias/NULAS nas primeiras posições.
# O inplace=True grava a mudança no DataFrame
## mapadecaixa.sort_values(['4o. Agrupamento', 'Descrição', 'Cliente', 'Emissão', 'Valor'], ascending=False, ignore_index=True, na_position='first', inplace=True)
mapadecaixa.sort_values(['4o. Agrupamento', 'Descrição', 'Cliente', 'Emissão', 'Valor'], ascending=False, ignore_index=True, na_position='first')

In [87]:
# DIGITE A FILIAL
filial = input("Digite a Filial: ")
mapadecaixa['FILIAL'] = filial

mapadecaixa

,FILIAL,DATA,DEBITO,CREDITO,VALOR,HIST.cod,HIST.p1,HIST.p2
0,20,10/03/2022,10221,10164,53.46,10.01,CART HIPERCARD PAGSEGURO,"630276895-2/2, 630276895-1/2"
1,20,16/03/2022,10221,10164,194.94,10.01,CART HIPERCARD PAGSEGURO,"635209191-2/2, 635209191-1/2"
2,20,13/03/2022,10221,10164,101.00,10.01,CART MAESTRO PAGSEGURO,633042330-1/1
3,20,16/03/2022,10221,10164,500.00,10.01,CART MAESTRO PAGSEGURO,635209553-1/1
4,20,01/03/2022,45534,10164,604.00,10.01,CARTEIRA COBRANÇA SIMPLES,627764966-1/1
...,...,...,...,...,...,...,...,...
1907,20,24/03/2022,45534,31472,10.00,10.01,CARTEIRA COBRANÇA SIMPLES,RC 1062 / RC 1062
1908,20,26/03/2022,45534,31472,15.00,10.01,CARTEIRA COBRANÇA SIMPLES,RC 1064 / RC 1064
1909,20,26/03/2022,45534,31472,10.00,10.01,CARTEIRA COBRANÇA SIMPLES,RC 1066 / RC 1066
1910,20,30/03/2022,45534,31472,30.00,10.01,CARTEIRA COBRANÇA SIMPLES,RC 1213 / RC 1213
1911,20,31/03/2022,45534,31472,20.00,10.01,CARTEIRA COBRANÇA SIMPLES,RC 1215 / RC 1215

In [88]:
# NEW
for index, row in mapadecaixa.iterrows():
    if row['HIST.p1'].startswith('CRÉDITO BANCÁRIO'):
        mapadecaixa.loc[index, 'DEBITO'] = '10265'
    if row['HIST.p1'].startswith('DUPLICATA'):
        mapadecaixa.loc[index, 'DEBITO'] = '10265'

mapadecaixa

,FILIAL,DATA,DEBITO,CREDITO,VALOR,HIST.cod,HIST.p1,HIST.p2
0,20,10/03/2022,10221,10164,53.46,10.01,CART HIPERCARD PAGSEGURO,"630276895-2/2, 630276895-1/2"
1,20,16/03/2022,10221,10164,194.94,10.01,CART HIPERCARD PAGSEGURO,"635209191-2/2, 635209191-1/2"
2,20,13/03/2022,10221,10164,101.00,10.01,CART MAESTRO PAGSEGURO,633042330-1/1
3,20,16/03/2022,10221,10164,500.00,10.01,CART MAESTRO PAGSEGURO,635209553-1/1
4,20,01/03/2022,45534,10164,604.00,10.01,CARTEIRA COBRANÇA SIMPLES,627764966-1/1
...,...,...,...,...,...,...,...,...
1907,20,24/03/2022,45534,31472,10.00,10.01,CARTEIRA COBRANÇA SIMPLES,RC 1062 / RC 1062
1908,20,26/03/2022,45534,31472,15.00,10.01,CARTEIRA COBRANÇA SIMPLES,RC 1064 / RC 1064
1909,20,26/03/2022,45534,31472,10.00,10.01,CARTEIRA COBRANÇA SIMPLES,RC 1066 / RC 1066
1910,20,30/03/2022,45534,31472,30.00,10.01,CARTEIRA COBRANÇA SIMPLES,RC 1213 / RC 1213
1911,20,31/03/2022,45534,31472,20.00,10.01,CARTEIRA COBRANÇA SIMPLES,RC 1215 / RC 1215

In [89]:
# CONVERTENDO A COLUNA VALOR PARA STRING
# mapadecaixa['VALOR'] = mapadecaixa['VALOR'].astype(str)
mapadecaixa['VALOR'] = mapadecaixa['VALOR'].astype('string')

mapadecaixa

,FILIAL,DATA,DEBITO,CREDITO,VALOR,HIST.cod,HIST.p1,HIST.p2
0,20,10/03/2022,10221,10164,53.46,10.01,CART HIPERCARD PAGSEGURO,"630276895-2/2, 630276895-1/2"
1,20,16/03/2022,10221,10164,194.94,10.01,CART HIPERCARD PAGSEGURO,"635209191-2/2, 635209191-1/2"
2,20,13/03/2022,10221,10164,101.0,10.01,CART MAESTRO PAGSEGURO,633042330-1/1
3,20,16/03/2022,10221,10164,500.0,10.01,CART MAESTRO PAGSEGURO,635209553-1/1
4,20,01/03/2022,45534,10164,604.0,10.01,CARTEIRA COBRANÇA SIMPLES,627764966-1/1
...,...,...,...,...,...,...,...,...
1907,20,24/03/2022,45534,31472,10.0,10.01,CARTEIRA COBRANÇA SIMPLES,RC 1062 / RC 1062
1908,20,26/03/2022,45534,31472,15.0,10.01,CARTEIRA COBRANÇA SIMPLES,RC 1064 / RC 1064
1909,20,26/03/2022,45534,31472,10.0,10.01,CARTEIRA COBRANÇA SIMPLES,RC 1066 / RC 1066
1910,20,30/03/2022,45534,31472,30.0,10.01,CARTEIRA COBRANÇA SIMPLES,RC 1213 / RC 1213
1911,20,31/03/2022,45534,31472,20.0,10.01,CARTEIRA COBRANÇA SIMPLES,RC 1215 / RC 1215

In [ ]:
# verificando o tipo de dados das colunas
mapadecaixa.dtypes

In [ ]:
# USANDO O 'to_csv' PARA EXPORTAR O ARQUIVO
# O 'index=False' salva sem a coluna de indece e o 'header=False' salva sem o cabeçalho/titulo das colunas
mapadecaixa.to_csv('Filial_'+filial+' - MapaCaixa.csv', sep=';', encoding='latin-1', header=False, index=False)
# print('Existem Linhas em Branco na coluna:','\n',mapadecaixa[mapadecaixa['DEBITO'].isnull()])
# print("Existem:",mapadecaixa['DEBITO'].isnull().sum(),"Contas em branco na coluna DÉBITO")
# mapadecaixa.isnull().sum()

In [ ]:
mapadecaixa

In [ ]:
# LENDO O ARQUIVO csv
mapadecaixa = pd.read_csv(os.getcwd() + "\\MapaCaixa.csv", encoding='ANSI', sep=',', header=0)
mapadecaixa.head()