In [2]:
# pip install lxml bs4 html5lib selenium requests
# from selenium import webdriver
# import lxml
import pandas as pd
import numpy as np
import os
from pathlib import Path
import html5lib 
from bs4 import BeautifulSoup
import re
import requests

In [3]:
# LENDO FILE JSON PARA UM DATAFRAME
mapa=pd.read_json("https://servicodados.ibge.gov.br/api/v1/censos/nomes/ranking?qtd=20&sexo=f")
# mapa=pd.read_json("http://jsonplaceholder.typicode.com/users/")
# mapa=pd.read_json("https://jsonplaceholder.typicode.com/posts/")
mapa

         nome  regiao      freq  rank sexo
0       MARIA       0  11694738     1    F
1         ANA       0   3079729     2    F
2   FRANCISCA       0    721637     3    F
3     ANTONIA       0    588783     4    F
4     ADRIANA       0    565621     5    F
5     JULIANA       0    562589     6    F
6      MARCIA       0    551855     7    F
7    FERNANDA       0    531607     8    F
8    PATRICIA       0    529446     9    F
9       ALINE       0    509869    10    F
10     SANDRA       0    479230    11    F
11     CAMILA       0    469851    12    F
12     AMANDA       0    464624    13    F
13      BRUNA       0    460770    14    F
14    JESSICA       0    456472    15    F
15    LETICIA       0    434056    16    F
16      JULIA       0    430067    17    F
17    LUCIANA       0    429769    18    F
18    VANESSA       0    417512    19    F
19    MARIANA       0    381778    20    F

In [ ]:
namefile = input("Digite o nome do arquivo: ")
# Lista['NOME'] = namefile

In [ ]:
# SALVANDO O FILE JSON EM CSV
mapa.to_csv(namefile+'.csv', index=False) # O Index false, remove a coluna de indice que o dataframe cria no inicio.

In [ ]:
# SALVANDO O FILE JSON EM EXCEL
mapa.to_excel(namefile+'.xlsx', index=False) # O Index false, remove a coluna de indice que o dataframe cria no inicio.