In [1]:
## https://www.codetd.com/pt/article/12083018
# https://www.youtube.com/watch?v=_phkptSCUNM
## pip install pandas psycopg2-binary SQLAlchemy
# from selenium import webdriver
# import lxml
import pandas as pd
import numpy as np
import os
from pathlib import Path
# import html5lib 
# from bs4 import BeautifulSoup
# import re
# import requests
## Postgress
import psycopg2 as pg
# from sqlalchemy import engine
from sqlalchemy import create_engine
## Mysql
import pymysql as mysql 
# import mysql.connector
# from mysql.connector import Error
## Oracle
import cx_Oracle as Oracle
## SQL Server
import pyodbc 
# from pyodbc import connect

In [2]:
#---CRIANDO CONEX√ÉO COM BD SQL Sever:
# engine = pg.connect("dbname='ecommerce' user='LASER\lmiguel' host='LE005TIC02\SQLEXPRESS' port='5432' password='root'")

# server = 'LE005TIC02\SQLEXPRESS' 
# database = 'ecommerce' 
# username = 'LASER\lmiguel' 
# password = 'Lmbs7811$' 
# cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
# cursor = cnxn.cursor()

# cnxn = pyodbc.connect(Trusted_Connection='Yes',Driver= '{SQL Server}',Server='LE005TIC02\SQLEXPRESS',Database='ecommerce',UID ='LASER\lmiguel',PWD ='Lmbs7811$')
cnxn = pyodbc.connect(Trusted_Connection='Yes',Driver= '{SQL Server}',Server='LE005TIC02\SQLEXPRESS',Database='db_Biblioteca',UID ='LASER\lmiguel',PWD ='Lmbs7811$')
cursor = cnxn.cursor()

C:\Users\lmiguel\AppData\Local\Temp\ipykernel_11468\3013667514.py:12: DeprecationWarning: PyUnicode_FromUnicode(NULL, size) is deprecated; use PyUnicode_New() instead
  cnxn = pyodbc.connect(Trusted_Connection='Yes',Driver= '{SQL Server}',Server='LE005TIC02\SQLEXPRESS',Database='db_Biblioteca',UID ='LASER\lmiguel',PWD ='Lmbs7811$')

In [3]:
#-CONSULTANDO TABELA NO BANCO DE DADOS SQL Sever
# df = pd.read_sql('select * from produtos', cnxn)
df = pd.read_sql('select * from tbl_Autores', cnxn)
df

c:\Users\lmiguel\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   ID_Autor Nome_Autor SobreNome_Autor
0         1     Daniel          Barret
1         2     Gerald          Carter
2         3       Mark          Sobell
3         4    William          Stanek
4         5    Richard            Blum

In [ ]:
namefile = input("Digite o nome do arquivo: ")
# Lista['NOME'] = namefile

In [ ]:
# SALVANDO O FILE EM CSV
df.to_csv(namefile+'.csv', index=False) # O Index false, remove a coluna de indice que o dataframe cria no inicio.

In [ ]:
# SALVANDO O FILE EM EXCEL
df.to_excel(namefile+'.xlsx', index=False) # O Index false, remove a coluna de indice que o dataframe cria no inicio.