In [2]:
## https://www.codetd.com/pt/article/12083018
# https://www.youtube.com/watch?v=_phkptSCUNM
## pip install pandas psycopg2-binary SQLAlchemy
# from selenium import webdriver
# import lxml
import pandas as pd
import numpy as np
import os
from pathlib import Path
# import html5lib 
# from bs4 import BeautifulSoup
# import re
# import requests
## Postgress
import psycopg2 as pg
# from sqlalchemy import engine
from sqlalchemy import create_engine
## Mysql
import pymysql as mysql 
# import mysql.connector
# from mysql.connector import Error
## Oracle
import cx_Oracle as Oracle
## SQL Server
import pyodbc 
# from pyodbc import connect

In [ ]:
#---CRIANDO CONEXÃO COM BD Oracler:
# engine = pg.connect('oracle: // nome de usuário: senha @ host: porta / sid')
engine = create_engine ('oracle://nome de usuário:senha@host:porta/sid')

In [ ]:
#-CONSULTANDO TABELA NO BANCO DE DADOS Oracler
df = pd.read_sql('select * from produtos', engine)
df

In [5]:
#---CRIANDO CONEXÃO COM BD SQL Sever:
# engine = pg.connect("dbname='ecommerce' user='LASER\lmiguel' host='LE005TIC02\SQLEXPRESS' port='5432' password='root'")

# server = 'LE005TIC02\SQLEXPRESS' 
# database = 'ecommerce' 
# username = 'LASER\lmiguel' 
# password = 'Lmbs7811$' 
# cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
# cursor = cnxn.cursor()

# cnxn = pyodbc.connect(Trusted_Connection='Yes',Driver= '{SQL Server}',Server='LE005TIC02\SQLEXPRESS',Database='ecommerce',UID ='LASER\lmiguel',PWD ='Lmbs7811$')
cnxn = pyodbc.connect(Trusted_Connection='Yes',Driver= '{SQL Server}',Server='LE005TIC02\SQLEXPRESS',Database='db_Biblioteca',UID ='LASER\lmiguel',PWD ='Lmbs7811$')
cursor = cnxn.cursor()

C:\Users\lmiguel\AppData\Local\Temp\ipykernel_8372\3013667514.py:12: DeprecationWarning: PyUnicode_FromUnicode(NULL, size) is deprecated; use PyUnicode_New() instead
  cnxn = pyodbc.connect(Trusted_Connection='Yes',Driver= '{SQL Server}',Server='LE005TIC02\SQLEXPRESS',Database='db_Biblioteca',UID ='LASER\lmiguel',PWD ='Lmbs7811$')

In [6]:
#-CONSULTANDO TABELA NO BANCO DE DADOS SQL Sever
# df = pd.read_sql('select * from produtos', cnxn)
df = pd.read_sql('select * from tbl_Autores', cnxn)
df

c:\Users\lmiguel\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,ID_Livro,Nome_Livro,ISBN,Data_Pub,Preco_Livro,ID_Autor,ID_Editora
0,100,Linux Command LIne and Shel Scripting,1438566969,2009-12-21,68.35,5,4
1,101,"SSH, THE Secure Shell",127658789,2009-12-21,58.30,1,2
2,102,Using Samba,123856789,2000-12-21,61.45,2,2
3,103,Fedora and Red Hat Linux,123346789,2010-11-01,62.24,3,1
4,104,Windows Server 2012 Inside Out,123356789,2004-05-17,66.80,4,3
5,105,Microsoft Exchange Server 2010,123366789,2000-12-21,45.30,4,3

In [ ]:
#---CRIANDO CONEXÃO COM BD Mysql:
# connect = create_engine ('mysql + pymysql: // nome de usuário: senha @ host: porta / dbname')
engine = create_engine('mysql+pymysql://root:root@127.0.0.1:3306/ecommerce')

In [ ]:
#--CONSULTANDO TABELA NO BANCO DE DADOS Mysql
df = pd.read_sql('select * from produtos', engine)
df
# Armazene o DataFrame pandas no banco de dados MySQL:
# Insert python pandas dataframe to a SQL Server table
# df_clientes.to_sql('clientes', cnxn, if_exists='replace')
# df.to_sql('tablename', engine, index=False, if_exists='append')
# df.to_sql('pedidos', engine, index=False, if_exists='append') # if_exists='replace'

In [ ]:
#---CRIANDO CONEXÃO COM BD Postgres:
engine = pg.connect("dbname='ecommerce' user='postgres' host='127.0.0.1' port='5432' password='root'")

In [ ]:
#--CONSULTANDO TABELA NO BANCO DE DADOS Postgres
df = pd.read_sql('select * from products', engine)
df

In [ ]:
# CRIANDO CONEXÃO COM BD
# host='127.0.0.1'
# port='5432'
# dbname='ecommerce'
# user='postgres'
# password='root'
# # tbname = 'products'
# connection = pg.connect("host='{}' port='{}' dbname='{}' user='{}' password='{}'"
#                         .format(host, port, dbname, user, password))

In [ ]:
# CONSULTANDO NO BANCO DE DADOS
# df = pd.read_sql_query("select * from {}".format(tbname), con=connection)
# df = pd.read_sql_query('select * from "products"', con=connection)
# # df.info()
# df

In [ ]:
namefile = input("Digite o nome do arquivo: ")
# Lista['NOME'] = namefile

In [ ]:
# SALVANDO O FILE EM CSV
df.to_csv(namefile+'.csv', index=False) # O Index false, remove a coluna de indice que o dataframe cria no inicio.

In [ ]:
# SALVANDO O FILE EM EXCEL
df.to_excel(namefile+'.xlsx', index=False) # O Index false, remove a coluna de indice que o dataframe cria no inicio.