In [26]:
# pip install lxml bs4 html5lib selenium requests
# from selenium import webdriver
# import lxml
import pandas as pd
import numpy as np
import os
from pathlib import Path
import html5lib 
from bs4 import BeautifulSoup
import re
# import requests
import psycopg2 as pg
from sqlalchemy import create_engine

In [27]:
# CRIANDO CONEXÃO COM BD
host='127.0.0.1'
port='5432'
dbname='ecommerce'
user='postgres'
password='root'
# tbname = 'products'
connection = pg.connect("host='{}' port='{}' dbname='{}' user='{}' password='{}'"
                        .format(host, port, dbname, user, password))

In [25]:
# CONSULTANDO NO BANCO DE DADOS
# df = pd.read_sql_query("select * from {}".format(tbname), con=connection)
df = pd.read_sql_query('select * from "products"', con=connection)
# df.info()
df

C:\Users\lmiguel\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,sku,nome,quantidade,preco,created,modified
0,8,Fonte ATX500va,10,800.19,2021-10-21 09:38:11.646840,NaT
1,79,Cabo usb 2m,30,10.50,2021-10-21 09:38:11.646840,NaT
2,10,Estabilizador 500va,42,750.50,2021-10-21 09:38:11.646840,NaT
3,11,Estabilizador 300va,63,300.50,2021-10-21 09:38:11.646840,NaT
4,13,SmartPhone Asus,60,3000.50,2021-10-21 09:38:11.646840,NaT
...,...,...,...,...,...,...
112,120,PenDriver 64gb,15,50.00,2021-10-21 09:38:11.646840,2021-10-21 13:23:39.194926
113,133,HD Externo 2tb WD,5,1800.00,2021-10-21 13:27:57.463482,2021-10-21 13:27:57.463482
114,134,HD Externo 2tb Samsung,5,1700.00,2021-10-21 13:28:57.052392,2021-10-21 13:28:57.052392
115,135,PenDriver 64gb,15,50.00,2021-10-21 13:45:57.809763,2021-10-21 13:48:52.185216
116,136,HD Externo 8tb Samsung,2,5700.00,2021-11-10 13:09:16.700369,2021-11-10 13:09:16.700369

In [30]:
namefile = input("Digite o nome do arquivo: ")
# Lista['NOME'] = namefile

In [32]:
# SALVANDO O FILE EM CSV
df.to_csv(namefile+'.csv', index=False) # O Index false, remove a coluna de indice que o dataframe cria no inicio.

In [31]:
# SALVANDO O FILE EM EXCEL
df.to_excel(namefile+'.xlsx', index=False) # O Index false, remove a coluna de indice que o dataframe cria no inicio.